<div ng-show="!ctrl.mapId" class="col-xs-12">
  <p translate>
    Create, save and share your own maps.
  </p>
  <p class="text-center">
    <button class="btn btn-default" ng-click="ctrl.chooseMap()" translate>Open a map</button>
  </p>
  <p class="text-center">
    <button class="btn btn-default" ng-click="ctrl.createMap()" translate>Create new map</button>
  </p>
</div>

<!-- Map displayed -->
<div ng-show="ctrl.isMymapsSelected()" class="clearfix">
  <div class="mymap-header col-xs-12">
    <button type="button" class="close" aria-label="Close" ng-click="ctrl.closeMap();"><span aria-hidden="true">&times;</span></button>
    <div class="title" ng-click="ctrl.modifyMap()">{{ctrl.getMapTitle()}}</div>
  </div>
  <div class="col-xs-12">
    <p class="description" ng-click="ctrl.modifyMap()" ng-if="ctrl.getMapDescription()">{{ctrl.getMapDescription()}}</p>
    <p class="no-description" ng-click="ctrl.modifyMap()" ng-if="!ctrl.getMapDescription()" translate><em>No description</em></p>
  </div>
  <div ng-show="ctrl.isEditable()" class="mymap-footer col-xs-12">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-caret-square-o-down"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href translate>Create copy</a></li>
          <li ng-click="ctrl.deleteMap()"><a href translate>Delete</a></li>
          <li class="divider"></li>
          <li ng-click="ctrl.createMap()"><a href translate>Create new map</a></li>
          <li ng-click="ctrl.chooseMap()"><a href translate>Open an other map</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="col-xs-12">
  <ul class="features">
    <li ng-repeat="feature in ctrl.featuresList"
      class="feature"
      ng-click="ctrl.selectFeature(feature)"
      ng-class="{'selected': ctrl.selectedFeaturesList.indexOf(feature) != -1}">
      {{ feature.get('name') }}
    </li>
  </ul>
</div>

<!-- Modification Modal -->
<ngeo-modal ngeo-modal-shown="ctrl.modifying">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" translate>Modify title and description of the map</h4>
  </div>
  <div class="modal-body">
    <form>
    <div class="form-group">
      <label translate>Title of the map</label>
      <input type="text" class="form-control" ng-model="ctrl.newTitle">
    </div>
    <div class="form-group">
      <label translate>Description</label>
      <textarea class="form-control" rows="3" ng-model="ctrl.newDescription"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" translate>Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="ctrl.saveModifications()" translate>Save changes</button>
</div>
</ngeo-modal>

<!-- Map Chooser Modal -->
<ngeo-modal ngeo-modal-shown="ctrl.choosing">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" translate>Open a map</h4>
  <form>
    <div class="form-group">
      <div class="input-group">
        <!-- <div class="input-group-addon"><i class="fa fa-search"></i></div> -->
        <input type="text" class="form-control" placeholder="{{ 'Search Maps'|translate}}" ng-model="searchMaps">
      </div>      
    </div>
  </form>
</div>
<div class="modal-body">
  <table class="table table-hover table-condensed" ng-init="sortReverse = true">
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
            {{'Title'|translate}} 
            <span ng-show="sortType == 'title' && !sortReverse">&#9660;</span>
            <span ng-show="sortType == 'title' && sortReverse">&#9650;</span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'category'; sortReverse = !sortReverse">
            {{'Category'|translate}}
            <span ng-show="sortType == 'category' && !sortReverse">&#9660;</span>
            <span ng-show="sortType == 'category' && sortReverse">&#9650;</span>
          </a>
        </td>
      </tr>
    </thead>
    <tbody>
    <tr ng-click="ctrl.onChosen(map)" ng-repeat="map in ctrl.maps| orderBy:sortType:sortReverse| filter:searchMaps">
      <td>{{ map.title }}</td>
      <td>{{ map.category }}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" translate>Cancel</button>
</div>
</ngeo-modal>
