<div ng-show="!ctrl.isMymapsSelected()">
  <p translate>
    Create, save and share your own maps.
  </p>
  <p class="text-center">
    <button class="btn btn-default" ng-click="ctrl.openChooseMapModal()" translate>Ouvrir une carte</button>
  </p>
  <p class="text-center">
    <button class="btn btn-default" ng-click="ctrl.openCreateMapModal()" translate>Créer une nouvelle carte</button>
  </p>
</div>

<!-- Map displayed -->
<div ng-show="ctrl.isMymapsSelected()">

  <div class="mymap-header">
    <button type="button" class="close" aria-label="Close" ng-click="ctrl.closeMap();"><span aria-hidden="true">&times;</span></button>
    <div class="title" ng-click="ctrl.openModifyMapModal()">{{ctrl.getMapTitle()}}</div>
  </div>
    <p class="description" ng-click="ctrl.openModifyMapModal()" ng-show="ctrl.getMapDescription()">{{ctrl.getMapDescription()}}</p>
    <p class="no-description" ng-click="ctrl.openModifyMapModal()" ng-show="!ctrl.getMapDescription()" translate><em>Aucune description</em></p>
  </div>

  <div ng-show="ctrl.isEditable()" class="mymap-footer navbar">
    <div ng-show="ctrl.layersChanged" class="alert alert-warning">
      <strong translate>Attention!</strong>
      <span translate>
        Les couches sélectionnées dans le catalogue sont différentes de celles chargées avec votre carte.
        Voulez vous sauvegarder ces modifications dans votre carte?
      </span>
      <div>
        <button ng-click="ctrl.resetLayers()" translate class="btn btn-default">Reset</button>
        <button ng-click="ctrl.saveLayers()" translate class="btn btn-default">Oui</button>
      </div>
    </div>
    <span ng-switch="ctrl.getMapIsPublic()">
      <i ng-switch-when="false" class="fa fa-lock"></i>&nbsp;
      <i ng-switch-when="true" class="fa fa-unlock"></i>&nbsp;
    </span>
    <span class="map-owner" ng-show="ctrl.getMapOwner()">
      {{'Carte créée par'|translate}} {{ctrl.getMapOwner()}}
    </span>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-caret-square-o-down"></span>
        </a>
        <ul class="dropdown-menu">
          <li ng-click="ctrl.openCreateMapModal()"><a href translate>Créer une nouvelle carte</a></li>
          <li ng-click="ctrl.openChooseMapModal()"><a href translate>Ouvrir une carte existante</a></li>
          <li ng-click="ctrl.openCopyMapModal()"><a href translate>Créer une copie</a></li>
          <li class="divider"></li>
          <li ng-click="ctrl.deleteMap()"><a href translate>Supprimer</a></li>
          <li class="divider"></li>
          <li ng-click="ctrl.closeMap()"><a href translate>Fermer</a></li>
          <li class="divider"></li>
          <li ng-click="ctrl.exportGpx()"><a href translate>Exporter un GPX</a></li>
          <li ng-click="ctrl.exportKml()"><a href translate>Exporter un KML</a></li>
          <li><div class="mymapsFileUpload"><a href translate>Importer un GPX</a><input type="file" class="mymapsUpload"  ngeo-filereader="ctrl.gpxFileContent" ngeo-filereader-supported="ctrl.fileReaderSupported" /></div></li>
          <li><div class="mymapsFileUpload"><a href translate>Importer un KML</a><input type="file" class="mymapsUpload"  ngeo-filereader="ctrl.kmlFileContent" ngeo-filereader-supported="ctrl.fileReaderSupported" /></div></li>
        </ul>
      </li>
    </ul>
  </div>

  <ul class="features list-unstyled">
    <li ng-repeat="feature in ctrl.getMymapsFeatures()" class="feature"
        ng-click="ctrl.selectFeature(feature)"
        ng-class="{'selected': ctrl.selectedFeaturesList.indexOf(feature) != -1}">
      <span class="icon polygon"></span>
      {{ feature.get('name') }}
    </li>
  </ul>
</div>

<hr ng-show="ctrl.getAnonymousFeatures().length">

<div ng-show="ctrl.getAnonymousFeatures().length">
  <div class="navbar">
    {{'Dessins'|translate}}
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-caret-square-o-down"></span>
        </a>
        <ul class="dropdown-menu">
          <li ng-show="ctrl.isMymapsSelected()" ng-click="ctrl.addInMymaps()"><a href translate>Copier dans ma carte</a></li>
          <li ng-click="ctrl.closeAnonymous()"><a href translate>Effacer tous les dessins</a></li>
          <li ng-click="ctrl.openNewMapFromAnonymous()"><a href translate>Créer une nouvelle carte à partir de ces dessins</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <ul class="features list-unstyled">
    <li ng-repeat="feature in ctrl.getAnonymousFeatures()"
      class="feature"
      ng-click="ctrl.selectFeature(feature)"
      ng-class="{'selected': ctrl.selectedFeaturesList.indexOf(feature) != -1}">
      <span class="icon polygon"></span>
      {{ feature.get('name') }}
    </li>
  </ul>
</div>

<!-- Modification Modal -->
<ngeo-modal ng-model="ctrl.modalShownHidden" ng-model-options="{getterSetter: true}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" ng-show="ctrl.modal === 'MODIFY'" translate>Modify title and description of the map</h4>
    <h4 class="modal-title" ng-show="ctrl.modal === 'CREATE'" translate>Title and description of the map</h4>
    <h4 class="modal-title" ng-show="ctrl.modal === 'COPYING'" translate>Title and description of the map copy</h4>
  </div>
  <div class="modal-body">
    <form>
    <div class="form-group">
      <label translate>Titre de la carte</label>
      <input type="text" class="form-control" ng-model="ctrl.newTitle">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ctrl.newIsPublic">
          <span translate>Public Map</span>
        </label>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-default" data-toggle="dropdown">
          {{ ctrl.getMapCategory(ctrl.newCategoryId).name }}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="category in ctrl.getCategories()"><a ng-click="ctrl.newCategoryId = category.id" tabindex="-1" href="#">{{ category.name | translate}}</a></li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label translate>Description</label>
      <textarea class="form-control" rows="3" ng-model="ctrl.newDescription"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" translate>Cancel</button>
  <button type="button" class="btn btn-primary" ng-show="ctrl.modal === 'MODIFY'" ng-click="ctrl.saveModifications()" translate>Save changes</button>
  <button type="button" class="btn btn-primary" ng-show="ctrl.modal === 'CREATE'" ng-click="ctrl.createMap()" translate>Save changes</button>
  <button type="button" class="btn btn-primary" ng-show="ctrl.modal === 'COPYING'" ng-click="ctrl.copyMap()" translate>Save new map</button>
</ngeo-modal>

<!-- Map Chooser Modal -->
<ngeo-modal ng-model="ctrl.choosing">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" translate>Ouvrir une carte</h4>
  <form>
    <div class="form-group">
      <div class="input-group">
        <!-- <div class="input-group-addon"><i class="fa fa-search"></i></div> -->
        <input type="text" class="form-control" placeholder="{{ 'Search Maps'|translate}}" ng-model="searchMaps">
      </div>
    </div>
  </form>
</div>
<div class="modal-body">
  <table class="table table-hover table-condensed mymaps-list" ng-init="sortReverse = true">
    <thead>
      <tr>
        <td>
          <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
            {{'Titre'|translate}}
            <span ng-show="sortType == 'title' && !sortReverse">&#9660;</span>
            <span ng-show="sortType == 'title' && sortReverse">&#9650;</span>
          </a>
        </td>
        <td>
          <a href="#" ng-click="sortType = 'category'; sortReverse = !sortReverse">
            {{'Catégorie'|translate}}
            <span ng-show="sortType == 'category' && !sortReverse">&#9660;</span>
            <span ng-show="sortType == 'category' && sortReverse">&#9650;</span>
          </a>
        </td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="map in ctrl.maps| orderBy:sortType:sortReverse| filter:searchMaps">
      <td ng-click="ctrl.onChosen(map, true)">{{ map.title }}</td>
      <td ng-click="ctrl.onChosen(map, true)">{{ map.category }}</td>
      <td ng-click="ctrl.deleteAMap(map.uuid)"><span class="fa fa-trash-o"></span></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" translate>Annuler</button>
</div>
</ngeo-modal>
