<!-- Color (for both stroke and fill) -->
<div ng-show="!ctrl.symbolselector">
  <div class="feature-popup-heading" translate>Style your drawing</div>
  <a href class="close" ng-click="ctrl.close()">&times;</a>
  <div class="feature-popup-body">
    <div ng-if="ctrl.isHTML5ColorSupported()" class="form-inline">
      <div class="form-group">
        <label translate>Color</label>
        <input type="color" ng-model="ctrl.getSetColor" ng-model-options="{getterSetter: true}">
      </div>
    </div>
    <div ng-if="!ctrl.isHTML5ColorSupported()" class="form-inline">
      <div class="form-group">
        <label translate>Color</label>
        <span class="dropdown">
          <button class="btn btn-default btn-color dropdown-toggle" type="button" data-toggle="dropdown" ng-style="{'background-color': ctrl.feature.get('color')}">
            <span class="fa fa-caret-square-o-down"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <table class="palette">
                <tr ng-repeat="colors in ::ctrl.colors">
                  <td ng-repeat="color in colors" ng-style="{'background-color': color}" ng-click="ctrl.setColor(color)" ng-class="{'selected': color == ctrl.feature.get('color')}">
                  </td>
                </tr>
              </table>
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div class="form-inline" ng-if="ctrl.type == 'polygon'">
      <!-- Stroke size polygons -->
      <div class="form-group">
        <label translate>Stroke width</label>
        <input type="range" min="0" max="10" step="1" ng-model="ctrl.getSetStroke" ng-model-options="{getterSetter: true}">
        <input type="number" min="0" max="10" step="1" ng-pattern="ctrl.numberRegexp" ng-model="ctrl.getSetStroke" ng-model-options="{getterSetter: true}" class="range-number">
      </div>
      <!-- Fill opacity -->
      <div class="form-group">
        <label translate>Transparency</label>
        <input type="range" min="0" max="100" step="1" ng-model="ctrl.getSetOpacity" ng-model-options="{getterSetter: true}">
        <input type="number" min="0" max="100" step="1" ng-pattern="ctrl.numberRegexp" ng-model="ctrl.getSetOpacity" ng-model-options="{getterSetter: true}" class="range-number">
      </div>
    </div>

    <div class="form-inline" ng-if="ctrl.type == 'linestring'">
      <!-- Stroke size lines -->
      <div class="form-group">
        <label translate>Stroke width</label>
        <input type="range" min="0" max="10" step="1" ng-model="ctrl.getSetStroke" ng-model-options="{getterSetter: true}">
        <input type="number" min="0" max="10" step="1" ng-pattern="ctrl.numberRegexp" ng-model="ctrl.getSetStroke" ng-model-options="{getterSetter: true}" class="range-number">
      </div>
    </div>
    <div class="form-inline" ng-if="ctrl.type == 'linestring'">
      <div class="form-group">
        <!-- Line style -->
        <label translate>Style</label>
        <button ng-click="ctrl.setLineDash('plain')" ng-class="{selected: ctrl.feature.get('linestyle') == 'plain'}" translate>Plain</button>
        <button ng-click="ctrl.setLineDash('dashed')" ng-class="{selected: ctrl.feature.get('linestyle') == 'dashed'}" translate>Dashed</button>
        <button ng-click="ctrl.setLineDash('dotted')" ng-class="{selected: ctrl.feature.get('linestyle') == 'dotted'}" translate>Dotted</button>
      </div>
    </div>
    <div class="form-inline" ng-if="ctrl.type == 'linestring'">
      <div class="form-group">
        <label translate>Show orientation</label>
        <input type="checkbox" ng-model="ctrl.getSetOrientation" ng-model-options="{getterSetter: true}">
      </div>
    </div>

    <div class="form-inline" ng-if="ctrl.type == 'linestring'">
      <div class="form-group">
            <button href class="btn btn-primary" ng-click="ctrl.reverseLine()" translate>Changer sens de la ligne</button>
      </div>
    </div>
    <div class="form-inline" ng-if="ctrl.type == 'point'">
      <div class="form-group">
        <!-- Symbol style -->
        <label translate>Symbol</label>
        <button ng-click="ctrl.symbolselector = true" class="btn btn-default">
            <img class="symbol-style" ng-show="ctrl.feature.get('symbolId')" ng-src="{{ctrl.getSymbolPath(ctrl.feature.get('symbolId'))}}">
            <div ng-show="!ctrl.feature.get('symbolId')" translate>Symbol
            <svg ng-show="ctrl.feature.get('shape') == 'circle'" height="18" width="18"><circle cx="9" cy="9" r="9" stroke="{{ctrl.feature.get('color')}}" stroke-width="1" fill="{{ctrl.feature.get('color')}}" /></svg>
            <svg ng-show="ctrl.feature.get('shape') == 'square'" width="18" height="18"><rect width="18" height="18" style="fill:{{ctrl.feature.get('color')}};stroke-width:1;stroke:{{ctrl.feature.get('color')}};" /></svg>
            <svg ng-show="ctrl.feature.get('shape') == 'cross'" width="18" height="18"><text x="0" y="22" font-size="40" fill="{{ctrl.feature.get('color')}}">+</text></svg>
            <svg ng-show="ctrl.feature.get('shape') == 'triangle'" width="18" height="18"><polygon points="0,18 9,0 18,18" style="fill:{{ctrl.feature.get('color')}};stroke:{{ctrl.feature.get('color')}};stroke-width:1"></polygon></svg>
            </div>
        </button>
      </div>
    </div>
    <div class="form-inline" ng-if="ctrl.type == 'point'">
      <!-- Point radius -->
      <div class="form-group">
        <label translate>Size</label>
        <input type="range" min="0" max="900" step="1" ng-model="ctrl.getSetSize" ng-model-options="{getterSetter: true}">
        <input type="number" min="0" max="900" step="1" ng-pattern="ctrl.numberRegexp" ng-model="ctrl.getSetSize" ng-model-options="{getterSetter: true}" class="range-number">
      </div>
      <!-- Point symbol rotation -->
      <div class="form-group" ng-show="ctrl.feature.get('shape') != 'circle'">
        <label translate>Angle</label>
        <input type="range" min="-180" max="180" step="1" ng-model="ctrl.getSetRotation" ng-model-options="{getterSetter: true}">
        <input type="number" min="-180" max="180" step="1" ng-pattern="ctrl.numberRegexp" ng-model="ctrl.getSetRotation" ng-model-options="{getterSetter: true}" class="range-number">
      </div>
    </div>
    <!-- Label font size -->
    <div class="form-inline" ng-if="ctrl.type == 'text'">
      <div class="form-group">
        <label translate>Size</label>
        <input type="range" min="0" max="40" step="1" ng-model="ctrl.getSetSize" ng-model-options="{getterSetter: true}">
        <input type="number" min="0" ng-max="40" step="1" ng-pattern="ctrl.numberRegexp" ng-model="ctrl.getSetSize" ng-model-options="{getterSetter: true}" class="range-number">
      </div>
    <!-- Label rotation -->
      <div class="form-group">
        <label translate>Angle</label>
        <input type="range" min="-90" max="90" step="1" ng-model="ctrl.getSetRotation" ng-model-options="{getterSetter: true}">
        <input type="number" min="-90" max="90" step="1" ng-pattern="ctrl.numberRegexp" ng-model="ctrl.getSetRotation" ng-model-options="{getterSetter: true}" class="range-number">
      </div>
    </div>
  </div>
  <div class="feature-popup-footer pull-right">
    <button href class="btn btn-default" ng-click="ctrl.close()" translate>
      Annuler
    </button>
    <button href class="btn btn-primary" ng-click="ctrl.saveFeature()" translate>
      OK
    </button>
  </div>
</div>
<div ng-show="ctrl.symbolselector">
  <app-symbol-selector app-symbol-selector-symbol = "ctrl.symbolselector"
                       app-symbol-selector-feature = "ctrl.feature">
  </app-symbol-selector>
</div>
