*.pyc
*.po~
/apache/README.txt
/apache/frontend.conf
/apache/mapserver.conf
/apache/wsgi.conf
/apache/application.wsgi
/deploy/deploy.cfg
/alembic.ini
/alembic_static.ini
/lux_alembic.ini
/development.ini
/production.ini
/project.yaml
/*.egg-info/
/print/WEB-INF/classes/logback.xml
/geoportailv3/locale/*/LC_MESSAGES/*.mo
/geoportailv3/locale/*/LC_MESSAGES/*-client.po
/geoportailv3/locale/*/LC_MESSAGES/*-client-tooltips.po
/geoportailv3/static/mobile/
#/geoportailv3/static/mobile/resources/sass/.sass-cache
#/geoportailv3/static/mobile/resources/css/app.css
#/geoportailv3/static/mobile/archive/
#/geoportailv3/static/mobile/build/
#/geoportailv3/static/mobile/openlayers-mobile.js
#/geoportailv3/static/mobile/bootstrap.js
#/geoportailv3/static/mobile/bootstrap.json
/geoportailv3/static/build
/geoportailv3/locale/*.pot
/.eggs
/.build
/package-lock.json
/node_modules
vars_wepa.yaml
