---

# The project Docker compose file for development.

version: '2'

services:
  config:
    image: camptocamp/geoportailv3-config:${DOCKER_TAG}
#    user: www-data
    environment:
      - VISIBLE_WEB_HOST
      - VISIBLE_WEB_PROTOCOL
      - VISIBLE_ENTRY_POINT
      - GEOPORTAL_INTERNAL_URL

  print:
    image: camptocamp/mapfish_print:3.14
    user: www-data
    volumes_from:
      - config:ro
    environment:
      - CATALINA_OPTS=-Xmx1024m
      - PGOPTIONS=-c statement_timeout=30000

  geoportal:
    image: camptocamp/geoportailv3-geoportal:${DOCKER_TAG}
#    user: www-data
    volumes:
      - /var/sig:/var/sig:ro
#    entrypoint: ['/usr/local/bin/alembic', '--config', '/app/alembic.ini', '--name', 'main', 'heads']
    environment:
      - DB_MYMAPS
      - DB_PGROUTE
      - DB_ECADASTRE
      - VISIBLE_ENTRY_POINT
      - VISIBLE_WEB_HOST
      - VISIBLE_WEB_PROTOCOL
      - PGHOST
      - PGHOST_SLAVE
      - PGPORT
      - PGUSER
      - PGPASSWORD
      - PGDATABASE
      - PGSCHEMA
      - PGSCHEMA_STATIC
      - PGOPTIONS
      - PRINT_URL
      - GUNICORN_PARAMS=--bind=:8080 --worker-class=gthread --threads=10 --workers=5 --timeout=60 --max-requests=1000 --max-requests-jitter=100
      - LOG_LEVEL=INFO
      - C2CGEOPORTAL_LOG_LEVEL=INFO
      - C2CWSGIUTILS_CONFIG=/app/development.ini
      - SQL_LOG_LEVEL=INFO
      - GUNICORN_LOG_LEVEL=INFO
      - GUNICORN_ACCESS_LOG_LEVEL=INFO
      - OTHER_LOG_LEVEL=WARN
      - DEVSERVER_HOST
      - REDIS_HOST
      - REDIS_PORT
      - C2C_REDIS_URL
    ports:
      - 8080:8080

  redis:
    image: redis:3.2
    user: www-data
    restart: unless-stopped
    command:
      - redis-server
      - --save
      - ''
      - --appendonly
      - 'no'
      - --maxmemory
      - 512mb
      - --maxmemory-policy
      - allkeys-lru

#  alembic:
#    image: camptocamp/geoportailv3-geoportal:${DOCKER_TAG}
##    user: www-data
#    command:
#      - alembic
#      - --name=static
#      - upgrade
#      - head
#    environment:
#      - PGHOST
#      - PGHOST_SLAVE
#      - PGPORT
#      - PGUSER
#      - PGPASSWORD
#      - PGDATABASE
#      - PGSCHEMA
#      - PGSCHEMA_STATIC
#      - PGOPTIONS
