
<button class="btn btn-default" ng-click="ctrl.addExternalDataShownHidden=true">+ Add external Wms</button>

<!-- Add external data modal window-->
<ngeo-modal ng-model="ctrl.addExternalDataShownHidden" ng-model-options="{getterSetter: true}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" translate>Add external data</h4>
  </div>
  <div class="modal-body">
  <div class="form-inline">
    <div class="dropdown">
     <div class="form-group">
       <button type="button" class="btn btn-default" data-toggle="dropdown"><span translate>Predefined wms</span><span class="caret"></span></button>
       <input type="url" class="form-control" placeholder="{{ 'Choose or write a WMS url'|translate}}" ng-model="ctrl.curWmsUrl">
       <button type="button" class="btn btn-default" ng-click="ctrl.refreshWmsLayers(ctrl.curWmsUrl)">{{ 'Get the layers'|translate}}</button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="wms in ctrl.getWmsUrls() | orderBy:'label'" ><a tabindex="-1" href="#" ng-click="ctrl.refreshWmsLayers(wms.url)">{{ wms.label }}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-if="ctrl.abstractService.length > 0">{{ctrl.abstractService}}</div>
  <div class="wms-catalog-content">
    <ul class="catalog">
      <li ng-repeat="layer in ctrl.getLayers() | orderBy:'Title'" class="panel">
        <a ng-if="ctrl.hasProperty('Layer', layer)" href="#wms-{{layer.uid}}" data-toggle="collapse" >{{layer.Title}}</a>
        <ul ng-if="!ctrl.hasProperty('Layer', layer)" class="panel">
          <li>
            <a class="fa fa-info" ng-click="ctrl.getInfo(layer)"></a>
            <a href ng-click="ctrl.toggleWmsLayer(layer)">
              <i class="fa" ng-class="(ctrl.isLayerActive(layer.id)) ? 'fa-check-square' : 'fa-square'"></i>
              {{layer.Title}}
            </a>
          </li>
        </ul>
        <ul ng-if="ctrl.hasProperty('Layer', layer)" id="wms-{{layer.uid}}" class="panel collapse" >
          <li ng-repeat="childLayer in ctrl.getChildLayers(layer) | orderBy:'Title'" ng-class="ctrl.hasProperty('Layer', childLayer)?'panel':''">
            <a ng-if="ctrl.hasProperty('Layer', childLayer)" href="#wms-{{childLayer.uid}}" data-toggle="collapse" >{{childLayer.Title}}</a>
            <ul ng-if="!ctrl.hasProperty('Layer', childLayer)" class="panel">
              <li>
                <a class="fa fa-info" ng-click="ctrl.getInfo(childLayer)"></a>
                <a href ng-click="ctrl.toggleWmsLayer(childLayer)">
                  <i class="fa" ng-class="(ctrl.isLayerActive(childLayer.id)) ? 'fa-check-square' : 'fa-square'"></i>
                  {{childLayer.Title}}
                </a>
              </li>
            </ul>
            <ul ng-if="ctrl.hasProperty('Layer', childLayer)" id="wms-{{childLayer.uid}}" class="panel collapse" >
              <li ng-repeat="childChildLayer in ctrl.getChildLayers(childLayer) | orderBy:'Title'">
                    <a class="fa fa-info" ng-click="ctrl.getInfo(childChildLayer)"></a>
                    <a href ng-click="ctrl.toggleWmsLayer(childChildLayer)">
                      <i class="fa" ng-class="(ctrl.isLayerActive(childChildLayer.id)) ? 'fa-check-square' : 'fa-square'"></i>
                      {{childChildLayer.Title}}
                    </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" translate>Close</button>
</div>
</ngeo-modal>
