<div ng-class="{closed: !ctrl.isOpened, opened: ctrl.isOpened}">
  <div ng-repeat="layer in ctrl.bgLayers"
    ng-click="ctrl.setBackgroundLayer(layer)"
    class="bg-selector-layer bg-selector-layer-{{$index}}"
    ng-class="{active: ctrl.bgLayer === layer}">
    <div>{{layer.get('label') | translate}}</div>
  </div>
  <div class="bg-selector-closer" ng-click="ctrl.toggleSelector()">
    <i class="fa fa-chevron-circle-right"></i>
  </div>
</div>

<div class="bg-selector-opener" ng-click="ctrl.toggleSelector()" ng-class="{closed: ctrl.isOpened}">
  <div>{{'Backgrounds' | translate}}</div>
</div>
