<div ng-if="!ctrl.layers.length" translate>No layer selected</div>
<ul id="layermanager-{{::ctrl.uid}}" class="layermanager">
  <li ng-repeat="layer in ctrl.layers" class="panel">
    <app-layerinfo app-layerinfo-layer="::layer"></app-layerinfo>
    {{layer.get('label') | translate}}
    <a data-toggle="collapse" data-parent="#layermanager-{{::ctrl.uid}}" href="#layermanager-item-{{$index}}">
      <span class="collapsed fa fa-ellipsis-h"></span>
      <span class="expanded fa fa-remove"></span>
    </a>
    <div id="layermanager-item-{{$index}}" class="collapse">
      <a href ng-click="ctrl.changeVisibility(layer)"><span class="fa" ng-class="(layer.opacity > 0) ? 'fa-eye': 'fa-eye-slash'" ></span></a>
      <input class="opacity" type="range" min="0" max="1" step="0.25" ng-model="layer.opacity" />
      <a class="delete" ng-click="ctrl.removeLayer(layer);"><span class="fa fa-trash-o"></span></a>
    </div>
  </li>
</ul>
