<div ng-if="!layermanagerCtrl.layers.length" translate>No layer selected</div>
<ul id="layermanager-{{::layermanagerCtrl.uid}}" class="layermanager">
  <li ng-repeat="layer in layermanagerCtrl.layers" class="panel">
    {{ layer.get('label') }}
    <a data-toggle="collapse" data-parent="#layermanager-{{::layermanagerCtrl.uid}}" href="#layermanager-item-{{ $index }}">
      <span class="collapsed fa fa-ellipsis-h"></span>
      <span class="expanded fa fa-remove"></span>
    </a>
    <div id="layermanager-item-{{ $index }}" class="collapse">
      <a href ng-click="layer.visible = !layer.visible"><span class="fa" ng-class="{'fa-eye': layer.visible, 'fa-eye-slash': !layer.visible}" ></span></a>
      <input class="opacity" type="range" min="0" max="1" step="0.05" ng-model="layer.opacity" />
      <a class="delete" ng-click="layermanagerCtrl.removeLayer(layer);"><span class="fa fa-trash-o"></span></a>
    </div>
  </li>
</ul>
