<div ng-if="!layermanagerCtrl.layers.length" translate>No layer selected</div>
<ul class="layermanager">
  <li ng-repeat="layer in layermanagerCtrl.layers">
    {{ layer.get('label') }}
    <a data-toggle="collapse" href="#layermanager-{{ $index }}">expand/collapse</a>
    <div id="layermanager-{{ $index }}" class="collapse">
      <input type="checkbox" ng-model="layer.visible" />
      <input type="range" min="0" max="1" step="0.05" ng-model="layer.opacity" />
      <a class="button" ng-click="layermanagerCtrl.removeLayer(layer);">remove</a>
    </div>
  </li>
</ul>
