## -*- coding: utf-8 -*-
% if legend_title is not None:
  <h1>${_c(legend_title)}</h1>
% endif
% for l in data['layers']:
  % if str(l['layerId']) in active_layers:
    <h4 translate>${_l(wms_layer + " : " + l['layerName'])}</h4>
    % for leg in l['legend']:
      <div class="legend-row">
        <div class="legend-icon">
          <img class="legend-media"
               src="data:image/png;base64,${leg['imageData']}"
               />
        </div>
        <span class="legend-label" translate>
           ${_l(wms_layer + " / " + l['layerName'] + " : " + leg['label'])}
        </span>
      </div>
    % endfor
  % endif
% endfor
