body {
    background-color: #000;
}

pre{
    background-color: white;
    font-family: monospace;
    padding: 2%;
    color: black;
    margin-right: 2%;
}

.popup {
    background-color: white;
    font-family: monospace;
    padding: 2%;
    color: black;
    margin-right: 2%;
}

.lux-search {
    position    : absolute;
    top         : .45em;
    left        : 50%;
    margin-left : -7em;
    z-index     : 10;
  }

.titlebar{
    height: 50px;
    width: 100%;
    background-color: #777;
    text-align: center;
    font-family:verdana;
}

.sample{
    margin-top: 2% ;
    height: 500px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background-color: #777;
    overflow: hidden;
}

.largesample{
    margin-top: 2% ;
    height: 800px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background-color: #777;
    overflow: hidden;
}
.longdescription{
    margin-top: 2% ;
    height: 950px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background-color: #777;
    overflow: hidden;
}


.profile{
    height: 300px;
}
.description{
    padding-left: 2%;
    float: left;
    margin-top: 20px;
    margin-left: 2%;
    height: 92%;
    width: 46%;
    background-color: #999;
	overflow: auto;
}
.map{
    float: left;
    margin-top: 20px;
    height: 92%;  
    width: 46%;
    margin-left:auto; 
    margin-right: auto;
    background-color: #EEE;
}

.layermanager{
    background-color:#00AA00; 
    padding: 2%;
    margin-right: 2%;
}

.bgSelector{
    background-color:#0000AA;    
}