<h4 class="popover-title ngeo-popup-title">
  <span ng-bind="title | translate"></span>
  <button type="button" class="close" ng-click="open = false"> &times;</button>
</h4>
<div class="popover-content">

<dl>
  <dt ng-if="content.layerMetadata.title.length > 0" translate>Name</dt><dd ng-bind="content.layerMetadata.title"></dd>
  <dt ng-if="content.layerMetadata.serviceDescription.length > 0" translate>Description du Service</dt>
  <dd ng-if="content.layerMetadata.serviceDescription.length > 0" ng-bind="content.layerMetadata.serviceDescription"></dd>
  <dt ng-if="content.layerMetadata.abstract.length > 0" translate>Description</dt>
  <dd>
      <span ng-if="content.layerMetadata.abstract.length > 220 && content.isShortDesc == true" ng-bind-html="content.layerMetadata.short_trusted_description"></span><a href="#" ng-if="content.layerMetadata.abstract.length > 220 && content.isShortDesc" ng-click="content.isShortDesc=false">&#8230;</a>
      <span ng-if="content.layerMetadata.abstract.length <= 220 || !content.isShortDesc" ng-bind-html="content.layerMetadata.trusted_description"></span><a href="#" ng-if="content.layerMetadata.abstract.length > 220 && !content.isShortDesc" ng-click="content.isShortDesc=true">-</a>
  </dd>
  <dt ng-if="content.layerMetadata.legalConstraints.length > 0" translate>Contrainte d'utilisation</dt>
  <dd ng-if="content.layerMetadata.legalConstraints.length > 0" ng-bind="content.layerMetadata.legalConstraints"></dd>
  <dt ng-if="content.layerMetadata.link.length > 0" translate>Url vers la resource</dt>
  <dd ng-if="content.layerMetadata.link.length > 0">
    <span ng-repeat="link in content.layerMetadata.link">
        <a ng-if="link.split('|')[3]=='WWW:LINK-1.0-http--link'" href="{{link.split('|')[2]}}" target="_blank">{{link.split("|")[2]}}</a>
    </span>
  </dd>
  <dt ng-if="content.layerMetadata.revisionDate.length > 0" translate>Revision date</dt><dd>{{content.layerMetadata.revisionDate | date : 'dd/MM/yyyy'}}</dd>
  <dt ng-if="content.layerMetadata.keyword.length > 0" translate>Keywords</dt><dd ng-if="content.layerMetadata.keyword.length > 0">{{content.layerMetadata.keyword.join()}}</dd>
  <dt ng-if="content.layerMetadata.responsibleParty.length > 0" translate>Contact</dt>
  <dd ng-if="content.layerMetadata.responsibleParty.length > 0">
    <span ng-repeat="poc in content.layerMetadata.responsibleParty" ng-if="poc.split('|')[1] == 'metadata'">
        <p>{{poc.split("|")[2]}}</p>
        <p>{{poc.split("|")[5]}}</p>
        <p>{{poc.split("|")[6]}}</p>
        <p>{{poc.split("|")[7]}}</p>
        <p>{{poc.split("|")[4]}}</p>
    </span>
  </dd>
  <dt ng-if="content.uid.length > 0" translate>Link to the metadata</dt>
  <dd ng-if="content.uid.length > 0"><a target ="_blank" 
         href="{{content.geonetworkBaseUrl}}/srv/fre/catalog.search#/metadata/{{content.uid}}" translate>
      link
      </a>
  </dd>
</dl>
<p ng-if="content.isError" translate>The metadata is right now not available</p>
<h4 translate>Legend</h4>
<iframe ng-if="content.hasLegend" width="100%" height="300" frameborder="0" ng-src="{{content.legendUrl}}">
</iframe>
<img ng-if="content.hasImageLegend" ng-src="{{content.legendUrl}}">

<p ng-if="!content.hasLegend && !content.hasImageLegend" translate>The legend is not available for this layer</p>
</div>
