<div class="theme-selector">
    Theme: <span>{{ctrl.currentTheme}}</span>
    <a href="#themes-content" data-toggle="collapse">
        Changer
        <table>
            <tr>
                <td style="background-color:#2980b9;"></td>
                <td style="background-color:#f39c12;"></td>
                <td style="background-color:#e74c3c;"></td>
                <td style="background-color:#03a2ac;"></td>
            </tr>
            <tr>
                <td style="background-color:#879c31;"></td>
                <td style="background-color:#51976e;"></td>
                <td style="background-color:#be8541;"></td>
                <td style="background-color:#d10074;"></td>
            </tr>
        </table>
    </a>
</div>

<div id="themes-content" class="collapse">
    <div class="scrollable">
        <ul class="themes-list clearfix">
            <li ng-repeat='theme in ctrl.themes' class="theme-{{theme.name}}">
                <a href="#themes-content" data-toggle="collapse" ng-click="ctrl.switchTheme(theme.name)">{{theme.name}}</a>
            </li>
        </ul>
    </div>
</div>