## editors
/.idea
*.iml
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/
.parcel-cache

storybook-static
custom-elements.json
