<a data-toggle="collapse" data-parent="#catalog-{{::layertreenodeCtrl.parentUid}}"
   href="#catalog-{{::layertreenodeCtrl.uid}}"
   ng-if="::layertreenodeCtrl.node.children && layertreenodeCtrl.depth < 3">
  {{::layertreenodeCtrl.node.name}}
</a>
<span ng-if="::layertreenodeCtrl.node.children && layertreenodeCtrl.depth >= 3">
  {{::layertreenodeCtrl.node.name}}
</span>
<div ng-if="::!layertreenodeCtrl.node.children">
  <a class="btn btn-default" ng-click="catalogCtrl.getInfo(node, layer)">i</a>
  {{::layertreenodeCtrl.node.name}}
  <input type="checkbox" ng-if="::!layertreenodeCtrl.node.children"
      ng-model="layertreenodeCtrl.getSetActive" ng-model-options="{getterSetter: true}"/>
</div>
<ul id="catalog-{{::layertreenodeCtrl.uid}}" ng-if="::layertreenodeCtrl.node.children"
  ng-class="(layertreenodeCtrl.depth < 3) ? 'collapse' : ''">
  <li ng-repeat="node in ::layertreenodeCtrl.node.children"
      ngeo-layertreenode="node" ngeo-layertreenode-map="layertreenodeCtrl.map"
      ngeo-layertreenode-layerexpr="layertreenodeCtrl.layerExpr"
      ng-class="(layertreenodeCtrl.node.children && layertreenodeCtrl.depth < 3) ? 'panel' : ''">
  </li>
</ul>
