[geoportailv3]
host=${PGHOST_SLAVE}
port=${PGPORT_SLAVE}
#sslmode=${PGSSLMODE}
user=${PGUSER}
password=${PGPASSWORD}
dbname=${PGDATABASE}

[geoportailv3_master]
host=${PGHOST}
port=${PGPORT}
#sslmode=${PGSSLMODE}
user=${PGUSER}
password=${PGPASSWORD}
dbname=${PGDATABASE}
