<div class="container-fluid printable" ng-show="ctrl.appSelector == 'locationinfo'">
  <div class="row">
    <div class="col-xs-8 locationinfo-shorturl no-print">
      <h3 translate>Short Url</h3>
      <input onclick="this.select();" type="text" class="form-control" name="shorturl" ng-model="ctrl.url" readonly="readonly" />
    </div>
    <div class="col-xs-4">
      <img class="img-responsive" style="margin-top: 22px;" src="{{ ctrl.qrUrl }}"></img>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-14">
      <h3 translate>Location Coordinates</h3>
      <table class="table-condensed">
        <tr ng-repeat="(key, value) in ctrl.location">
          <th>{{key | translate}} </th> <td>{{ value }}</td>
        </tr>
        <tr>
          <th translate>Elevation</th> <td>{{ ctrl.elevation }}</td>
        </tr>
        <tr>
          <th translate>Adresse la plus proche</th> <td>{{ ctrl.address }}</td>
        </tr>
        <tr>
          <th translate>Distance approximative</th> <td>{{ ctrl.distance }} <span translate> mètres</span></td>
        </tr>
        <tr class="no-print" ng-if="ctrl.isInBoxOfLidar">
          <td colspan="2"><a class="fid-link" href="{{ctrl.getLidarUrl()}}" target="_blank" translate>Lien vers la démo lidar</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
