<ul ngeo-btn-group class="nav toolbox-panel toolbox-panel-bottom">
  <li ng-class="{active: ctrl.measureLength.active}">
    <a href translate ngeo-btn
       ng-model="ctrl.measureLength.active">Length</a>
  </li>
  <li ng-class="{active: ctrl.measureArea.active}">
    <a href translate ngeo-btn
       ng-model="ctrl.measureArea.active">Surface</a>
  </li>
  <li ng-class="{active: ctrl.measureAzimut.active}">
    <a href translate ngeo-btn
       ng-model="ctrl.measureAzimut.active">Azimut</a>
  </li>
  <li ng-class="{active: ctrl.measureProfile.active}">
      <a href translate ngeo-btn
       ng-model="ctrl.measureProfile.active">Profile</a>
  </li>
</ul>
