@import (inline) '../../../node_modules/openlayers/css/ol.css';
@import "../../../node_modules/bootstrap/less/mixins/vendor-prefixes.less";

@bg: #fff;
@border: 1px solid #8394a0;
@border-radius: 2px;

@popup-bg: @bg;
@popup-border-color: rgba(0,0,0,0.2);
@popup-arrow-outer-color: @popup-border-color;
@popup-arrow-color: @popup-bg;
@popup-arrow-width: 11px;

@mouseposition-width: 13em;
@mouseposition-height: 2em;

@color: #2980b9;

.lux-map {
  border: @border;
  .ol-attribution {
    bottom: .2em;
    right: 0;
  }
  .ol-mouse-position {
    background-color: @bg;
    top: auto;
    bottom: 0;
    height: @mouseposition-height;
    line-height: @mouseposition-height;
    width: @mouseposition-width;
    margin-left: -@mouseposition-width / 2;
    left: 50%;
    text-align: center;
    font-size: 14px;
    font-family: Mono;
    text-shadow: 0 0 2px #fff;
    color: #000;
    border-radius: @border-radius @border-radius 0 0;
    border: @border;
    border-width: 1px 1px 0;
  }
  .ol-zoom {
    padding: 0;
    background: transparent;
  }
  .ol-control {
    button {
      width: 41px;
      height: 41px;
      font-size: 1.5em;
      font-weight: 400;
      text-align: center;
      text-indent: 0;
      border: @border;
      margin: -1px;
      background-color: #fff;
      color: @color;
      &:hover {
        background-color: @color;
        color: #fff;
        cursor: pointer;
      }
    }
    .ol-zoom-in {
      border-radius: @border-radius @border-radius 0 0;
    }
    .ol-zoom-in {
      border-radius: 0 0 @border-radius @border-radius;
    }
  }
}

.lux-popup {
  background-color: @popup-bg;
  background-clip: padding-box;
  border: 1px solid @popup-border-color;
  border-radius: 5px;
  .box-shadow(0 5px 10px rgba(0,0,0,.2));
  z-index: 2;
}

.lux-popup-arrow {
  border-width: @popup-arrow-width;
  left: 50%;
  margin-left: -@popup-arrow-width;
  border-bottom-width: 0;
  border-top-color: @popup-arrow-color;
  bottom: -@popup-arrow-width;

  &,
  &:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  &:after {
    border-width: @popup-arrow-width;
    content: "";
    bottom: 1px;
    margin-left: -@popup-arrow-width;
    border-bottom-width: 0;
    border-top-color: @popup-arrow-color;
  }
}

.lux-popup-content {
  padding: 9px 14px;
}

.lux-popup-close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;

  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;

  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}
