/** Main layout **/
html, body {
  position: relative;
  height: 100%;
}
@topbar-height: 50px;
@bottombar-height: 50px;
@leftbar-width: 320px;
body {
  /* padding top by top bar height */
  padding-top: @topbar-height;
}

.navbar-nav {
  // keep margin and padding the same as for media width > @screen-sm-min
  margin: 0;
  > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @bottombar-height;
}

#main-container {
  height: 100%;
  position: relative;
}

app-map > div {
  width: auto;
  height: 100%;
  overflow: hidden;
  background-color: white;
  position: relative;

  &:-moz-full-screen {
    height: 100%;
    width: 100%;
  }
  &:-webkit-full-screen {
    height: 100%;
    width: 100%;
  }
  &:-ms-fullscreen {
    height: 100%;
    width: 100%;
  }
  &:full-screen {
    height: 100%;
    width: 100%;
  }
}

#sidebar {
  display: block;
  width: @leftbar-width;
  height: 100%;
  max-width: 100%;
  float: left;
  .transition(all 300ms ease-out 0s);
  position: relative;

  > div {
    display: none;
  }
}

#sidebar.open {
  margin-left: 0;
}

@media (min-width: @screen-sm-min) {
  #sidebar {
    margin-left: -(@leftbar-width);
  }
}

@media (max-width: @screen-xs-max) {
  #sidebar {
    margin-left: -100%;
    width: 100%;
  }
}

@media (min-width: @screen-sm-min) {
  body {
    /* padding bottom by footer height */
    padding-bottom: @bottombar-height;
  }
}
@media (max-width: @screen-xs-max) {
  body {
    padding-bottom: 0;
    padding-top: 40px;
    overflow: hidden;
  }
  #sidebar {
    width: 100%;
    position: absolute;
    z-index: 2;
  }
  .footer {
    position: absolute;
    height: 0;
    bottom: 0;
  }
}

.ol-control {
  &, &:hover {
    background-color: transparent;
  }
  button {
    width: 41px;
    height: 41px;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    text-indent: 0;
    border: 1px solid #8394a0;
    font-family: "geoportail-icons" !important;
    margin: -1px;
  }
  &.infobar {
    z-index: 2;
    bottom: 8px;
    right: 8px;
    padding: 0px;
    border: 1px solid #8394a0;
    background-color: white;
    .infobar-content {
        float: left;
        padding-right: 10px;
        display: none;
    }
    .infobar-content.active {
        display: block;
    }
    .infobar-content * {
        display: inline-block;
    }
    .infobar-content .ol-scale-line {
        position: inherit;
        background: rgba(0,0,0,0);
        padding: 0px 5px 0px 5px;
        .ol-scale-line-inner {
            border: 2px solid grey;
            border-top: none;
            color: black;
            font-size: 12px;
            text-align: center;
            margin: 1px;
        }
    }
    .mouse-coordinates {
        width: 255px;
    }
    .infobar-button {
        display: inline-block;
        float: right;
        padding-bottom: 15px;
        font-size: 2.5em;
    }
    .btn {
        border: 1px solid transparent;
        height: 39px;
        font-size: 16px;
        min-width: 120px;
        span {
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            font-family:'DINNextLTPro-Condensed', Arial, sans-serif;
        }
    }
    .dropdown ul {
        display: none;
    }
    .dropdown.open ul {
        display: block;
    }
  }

}


.location-button {
  top: 128px;
  left: 0.5em;
  button {
    font-family: "fontello" !important;
  }
}
@media (min-width: @screen-xs-min) {
  .location-button {
    top: 168px;
  }
}

.ol-zoom-extent {
  left: 0.5em;
  top: 88px;
}

.ol-full-screen {
  left: 0.5em;
  right: auto;
  top: 128px;
  .hidden-xs;
}

div.ol-full-screen > button {
  font-size: 1.2em;
}

div.ol-zoom-extent > button {
  text-indent: 4px;
}

.user {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
  & ul {
    margin: 0;
    padding: 0;
  }
  & li {
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    background-position: 1px top;
  }
}

& .second-level {
  display: none;
  position: absolute;
  right: 0px;
  text-align: left;
  z-index: 10;
  width: 320px;
  & .open {
    display:block;
  }
}

.user .menu-title {
  margin: 18px 0px;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
  padding: 0px 20px;
}

.account-content {
  padding: 10px;
  clear:both;
  & input {
      color: white;
      height: 43px;
      border: none;
      font-size: 16px;
      &[type=password],
      &[type=text] {
        float:left;
        width:100%;
        margin-bottom: 10px;
        padding: 17px 10px 10px;
        background-color: rgba(46,65,78, 0.2);
        -webkit-box-shadow: inset 0px 2px 4px -1px rgba(0, 57, 79, 0.25);
        box-shadow: inset 0px 2px 4px -1px rgba(0, 57, 79, 0.25);
      }
      &[type=submit]{
        float: right;
        width: 91px;
        height:44px;
        line-height:44px;
        text-align:center;
        text-transform: uppercase;
      }
    }
}

.navigation-account .tab{
  padding: 10px 0px 0px;
  margin:0px;
  float:left;
  text-indent:-999em;
  position:relative;
  width: 41px;
  height:41px;
  line-height: 41px;
  padding: 0px 10px 0px 20px;
  margin-left:1px;
  font-size:24px;
  color: #fff;
  cursor:pointer;
  width:82px;
}

.navigation-account p {
  margin: 0px;
}
.navigation-account .tab:after {
    font-family: "geoportail-icons";
    font-size:28px;
    line-height:41px;
    color:#fff;
    position:absolute;
    width:100%;
    text-align:center;
    text-indent:0;
    position:absolute;
    top:0;
    left:0;
    content:'\e02d';
}

.account-content ul li {
  float: none;
  display: block;
  height: auto;
  line-height: 31px;
  margin-bottom: 1px;
  position:relative;
  & p, & a {
    display: block;
    height: auto;
    line-height: 31px;
    padding: 0px 50px 0px 10px;
    color: #fff;
    text-decoration: none;
  }
  & a{
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
}

.navigation-account fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.navigation-account .account-content p {
  white-space: normal;
}

.navigation-account legend {
  border: 0 none;
  padding: 0;
  white-space: normal;
}

.popover{
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  font-size: 13px;
  font-family: Arial,sans-serif;
  dl {
    width: 100%;
    float: left;
    margin: 1em 0;
    padding: 0;
  }
  dt {
    float: left;
    width: 30%;
    clear: left;
    margin-right: 0.8em;
    padding: 5px;
  }
  dd {
    float: left;
    width: 65%;
    margin: 0;
    padding: 5px;
  }
  p {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.popover-content {
  max-height: 460px;
  overflow: auto;
}
@profile_height: 250px;
.profile {
  width: 450px;
  height: @profile_height;
  background-color: white;
  border: 1px solid;

  background: url(../images/profile.png) no-repeat white;
  background-position-x: 10px;
  background-position-y: 10px;

  svg {
    background-color: white;
  }

  > div {
    display: table;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: @profile_height / 2;
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 5px;
  }
}

*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
/** Theme Switcher **/
.theme-selector {
  padding: 8px 6px;
  color: white;
  margin: 10px;
  cursor: pointer;
  span {
    text-transform: uppercase;
  }
  a {
    float: right;
    font-size: 0.8em;
    padding: 2px 4px;
    text-decoration: none;
    margin-top: -2px;
  }
  table {
    border-collapse: separate;
    border-spacing: 1px;
    display: inline-block;
    vertical-align: middle;
    & tr > td {
      height: 10px;
      width: 10px;
    }
  }

}
.themes-list {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
  width: 300px;
  li {
      float: left;
      width: 50%;
  }
  a {
    color: rgba(255, 255, 255, 0.4);
    display: block;
    font-size: 24px;
    height: 150px;
    padding: 20px 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:focus {
    color: #fff;
  }
  a:after {
    bottom: 0px;
    font-family: "geoportail-icons" !important;
    font-size: 2.5em;
    left: 10px;
    position: absolute;
  }
}
