/** Themes related styling (mainly colors) **/
.theme(@theme, @primary, @secondary, @tertiary, @icon) {
  [data-theme="@{theme}"] {
    .theme_(@primary, @secondary, @tertiary);
    .theme-icon:after {
      color: @primary;
      content: '\@{icon}';
    }
  }

  .theme-@{theme} {
    background-color: @primary;
    a:after{
      content: '\@{icon}';
    }
    a:hover,
    a.active{
      color: @primary !important;
    }
  }
}

.theme_(@primary, @secondary, @tertiary) {
  .form-control {
    background-color: @secondary !important;
    .placeholder(white);
    color: white;
  }

  .btn {
    color: @primary;
  }
  .btn-primary {
    background-color: @primary;
    border-color: darken(@primary, 10%);
    color: white;
  }
  &.no-touch .btn:hover {
    color: white;
    background-color: @primary;
  }
  &.no-touch .btn-primary:hover {
    background-color: darken(@primary, 10%);
  }

  #sidebar {
    background-color: @secondary;
    .nav-tabs li {
      a {
        background-color: @tertiary;
        color: @secondary;
      }
      &> a:hover,
      &.active > a {
        background-color: @primary;
        color: white;
      }
    }
    .tab-content {
      background-color: @primary;
    }
  }

  a,
  .btn-link {
    color: @secondary;
  }

  .sidebar-controls,
  .toolbox {
    li > a {
      color: @primary;
    }
  }
  .nav {
    & > li > a {
      background-color: white;
    }
    & > li.active > a {
      color: white;
      background-color: @primary;
    }
  }

  &.no-touch .nav > li > a:hover {
    color: white;
    background-color: @primary;
  }

  .toolbox-panel-top > li > a {
    background-color: @primary;
    color: white;
  }
  &.no-touch .toolbox-panel-top > li > a:hover {
    color: @primary;
    background-color: white;
  }
  .toolbox-panel-top > li.active > a {
    color: @primary;
    background-color: white;
  }

  .footer .toolbox-panel > li {
    > a {
      background-color: @tertiary;
      color: white;
    }
    &.active > a {
      background-color: @primary;
    }
  }

  &.no-touch .footer .toolbox-panel > li > a:hover {
    background-color: @primary;
  }

  ul.catalog {
    ul {
      background-color: @secondary;
    }
    color: @tertiary;
    a {
      color: @tertiary;
    }
    > li.panel {
      > a {
        color: @secondary;
        background-color: @tertiary;
        &:after {
          border-top-color: @primary;
        }
      }
      > ul > li.panel > a {
        &:before,
        &:after {
          background-color: @tertiary;
        }
        background-color: lighten(@secondary, 20%);
        &[aria-expanded=true] {
          background-color: @secondary;
        }
      }
    }
  }

  ul.layermanager {
    &, a {
      color: @tertiary;
    }
    li {
      background-color: @secondary;
    }
  }

  .ol-control button {
    background-color: white;
    color: @primary;
  }

  .tracker-on button{
    background-color: @primary;
    color: white;
  }

  &.no-touch .ol-control button:hover,
  .ol-control button:active {
    background-color: @primary;
    color: white;
  }

  .navigation-account {
    background-color: @secondary;
    .account-content {
      background-color: @primary;
    }
    input[type=submit] {
      background-color: @secondary;
    }
    input[type=submit]:hover {
      color: @tertiary;
    }
    .tab {
      background-color: @primary;
    }
  }
  .account-content ul li a {
    background-color: @tertiary;
    &:hover {
      background-color: @secondary;
    }
  }
  .account-content ul li p {
    background-color: @secondary;
  }
  .navbar-default .navbar-nav > .active > a {
    &:active, & {
      background-color: @primary;
      color: white;
    }
  }
  &.no-touch .navbar-default .navbar-nav > .active > a:hover {
    background-color: white;
    color: @primary;
  }
  .theme-selector {
    background-color: @tertiary;
    & a{
      background-color: @secondary;
      color: white;
    }
  }
  &.no-touch .theme-selector:hover {
    background-color: white;
    color: @primary;
  }

  app-share>div {
    background-color: @primary;
  }
  app-print>div {
    background-color: @primary;
  }

  .drawing-panel>div {
    background-color: @primary;
  }
  .profile {
    border-color: @primary;
    .close {
      color: @secondary;

      opacity: 1;
    }
  }
  &.no-touch .profile:hover {
    color: @primary;
  }

  input[type=range]::-webkit-slider-thumb {
    background: @tertiary;
  }

  input[type=range]::-moz-range-thumb {
    background: @tertiary;
  }

  input[type=range]::-ms-thumb {
    background: @tertiary;
  }
  .feature-popup {
    & input[type=range]::-webkit-slider-runnable-track {
      background: @secondary;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: @secondary;
    }

    & input[type=range]::-moz-range-track {
      background: @secondary;
    }
    & input[type=range]::-ms-fill-lower {
      background: @secondary;
    }
    & input[type=range]::-ms-fill-upper {
      background: @secondary;
    }
    & input[type=range]:focus::-ms-fill-lower {
      background: @secondary;
    }
    & input[type=range]:focus::-ms-fill-upper {
      background: @secondary;
    }
    & input[type=range]::-ms-thumb {
      background: @secondary;
    }
    & input[type=range]:focus::-ms-fill-lower {
      background: @secondary;
    }
    & input[type=range]:focus::-ms-fill-upper {
      background: @secondary;
    }
  }
  .query-box{
    background-color: @tertiary;
    padding: 5px 5px 5px 5px;
  }

  .mymaps {
    .map {
      background-color: @primary;
    }

    .features {
      .feature {
        &.selected {
          background-color: @tertiary;
          color: white;
        }
      }
    }
    .navbar-nav > li > a.white-item {
      &, &:hover {
        background-color: transparent;
        color: white;
      }
      opacity: 1;
      &:hover {
        color: @tertiary;
      }
    }

    .navbar-nav > li > a {
      &, &:hover {
        background-color: transparent;
        color: @primary;
      }
      opacity: 1;
      &:hover {
        color: @tertiary;
      }
    }
  }
}

.themes-list a {
  color: rgba(255, 255, 255, 0.4) !important;
  &.active{
    background-color: white;
  }
  &:hover {
    background-color: #ccc;
  }
}

header.navbar-default {
  background-color: white;
}

// Trick for choosing colors: Use colorbrewer2.org and define a 5 class
// range. 
// Then use the 3 darkest colors in the following order:
// medium - light - dark

.theme(eau, #03a2ac, #45cdd6, #078f98, e016);
.theme(agriculture, #f39c11, #ffc363, #9c6101, e001);
.theme(main, #2980b9, #97bbd3, #1f5d87, e02d);
.theme(at, #be8541, #ffb257, #7f6b52, e018);
.theme(intranet-at, #9e9ac8, #cbc9e2, #756bb1, e018);
.theme(pag,  #2b8cbe, #74a9cf, #045a8d, e018);
.theme(tourisme, #e84c3d, #e88c83, #a50f15, e027);
.theme(emwelt, #879d31, #bacd81, #627529, e015);
.theme(lenoz, #f4b72b, #f3d89b, #b3851d, e01A);
.theme(preizerdaul, #ad223b, #d87e8e, #711727, e00c);
.theme(wellenstein, #7ac573, #b0e4ab, #42803c, e00c);
.theme(lintgen, #f3c531, #f3d89b, #b3851d, e00c);
.theme(remich, #8ca229, #bacd63, #5c6b1b, e00c);
.theme(prof,  #006d2c, #99d8c9, #238b45, e00a);
.theme(go,  #555, #bbb, #756bb1, e00b);
.theme(municipalities,   #9e9ac8, #cbc9e2, #756bb1, e00c);
.theme_(#777, #ddd, #999);
