/** Themes related styling (mainly colors) **/
.theme(@theme, @primary-color) {
  [data-theme="@{theme}"] {
    @secondary-color: desaturate(lighten(@primary-color, 30%), 5%);
    @tertiary-color: darken(@primary-color, 10%);
    .form-control {
      background-color: @secondary-color;
      .placeholder(white);
      color: white;
    }

    .btn {
      color: @primary-color;
      &:hover {
        color: white;
        background-color: @primary-color;
      }
    }

    #sidebar {
      background-color: @secondary-color;
      .nav-tabs li {
        a {
          background-color: @tertiary-color;
          color: @primary-color;
        }
        &> a:hover,
        &.active > a {
          background-color: @primary-color;
          color: white;
        }
      }

      .tab-content {
        background-color: @primary-color;
      }
    }

    .sidebar-controls,
    .toolbox {
      li > a {
        color: @primary-color;
      }
    }
    .nav {
      & > li > a {
        background-color: white;
        &:hover {
          color: white;
          background-color: @primary-color;
        }
      }
      & > li.active > a {
        color: white;
        background-color: @primary-color;
      }
      .toolbox-panel-top > li > a {
        background-color: @primary-color;
        color: white;
        &:hover {
          color: @primary-color;
          background-color: white;
        }
      }
      .toolbox-panel-top > li.active > a {
        color: @primary-color;
        background-color: white;
      }
    }
    ul.catalog {
      ul {
        background-color: @secondary-color;
      }
      color: @tertiary-color;
      a {
        color: @tertiary-color;
      }
      > .panel {
        > a {
          color: @primary-color;
          background-color: @tertiary-color;
          &:after {
            border-top-color: @primary-color;
          }
        }
        > ul > li.panel > a {
          &:before,
          &:after {
            background-color: @tertiary-color;
          }
          background-color: lighten(@secondary-color, 20%);
          &[aria-expanded=true] {
            background-color: @secondary-color;
          }
        }
      }
    }

    ul.layermanager {
      &, a {
        color: @primary-color;
      }
      li {
        background-color: @secondary-color;
      }
    }
    
    .ol-control button {
      background-color: white;
      color: @primary-color;
    }
    
    .ol-control button:hover,.ol-control button:focus {
      background-color: @primary-color;
      color: white;
    }

    .navigation-account {
      background-color: @secondary-color; 
      .account-content { 
        background-color: @primary-color; 
      }
      input[type=submit] {
        background-color: @secondary-color; 
      }
      input[type=submit]:hover { 
        color: @tertiary-color;
      }
      .tab {
        background-color: @primary-color; 
      }
    }
    .account-content > ul li a{
      background-color: @tertiary-color; 
    }
    .account-content > ul li p{
      background-color: @secondary-color; 
    }
    .navbar-default .navbar-nav > .active > a{
      &:focus, & {
        background-color: @primary-color;
      }
      &:hover {
        background-color: white;
      }
    }
  }
}

.theme(eau, #03a2ac);
.theme(agriculture, #f39c11);
.theme(environnement, #879d31);
