*.pyc
.*.swp
/.build
/geoportailv3.egg-info
/jsbuild/app.cfg
/node_modules
/apache/README.txt
/apache/frontend.conf
/apache/mapserver.conf
/apache/wsgi.conf
/apache/tinyows.conf
/apache/application.wsgi
/deploy/deploy.cfg
/docker-compose.yml
/alembic.ini
/alembic_static.ini
/development.ini
/production.ini
/project.yaml
/.tx/config
/.tx/ngeo.gmf-*
/.whiskey/action_hooks/pre-build
/print/print-servlet.war
/print/WEB-INF/lib/*.jar
/print/WEB-INF/classes/logback.xml
/print/print-apps/geoportailv3/config.yaml
/mapserver/c2cgeoportal.map
/mapserver/demo.map
/mapserver/tinyows.xml
/mapserver/replace_db.sh
/testDB/11-schemas.sql
/testDB/12-alembic.sql
/testDB/13-alembic-static.sql
/testDB/Dockerfile
/deploy/hooks/pre-restore-database
/deploy/hooks/post-restore
/geoportailv3/version.py
/geoportailv3/locale/*/LC_MESSAGES/*.mo
/geoportailv3/locale/geoportailv3-*.pot
/geoportailv3/static-ngeo/build/
/geoportailv3/static-ngeo/fonts/gmf-icons.*
/geoportailv3/static-ngeo/fonts/fontawesome-webfont.*
/geoportailv3/static/build/
/geoportailv3/static/mobile/resources/sass/.sass-cache
/geoportailv3/static/mobile/resources/css/app.css
/geoportailv3/static/mobile/archive/
/geoportailv3/static/mobile/build/
/geoportailv3/static/mobile/openlayers-mobile.js
/geoportailv3/static/mobile/bootstrap.js
/geoportailv3/static/mobile/bootstrap.json
