<ul ngeo-btn-group class="nav toolbox-panel toolbox-panel-bottom">
  <li ng-class="{active: ctrl.drawPoint.active}">
    <a href translate ngeo-btn
       ng-model="ctrl.drawPoint.active">Point</a>
  </li>
  <li ng-class="{active: ctrl.drawLabel.active}">
    <a href translate ngeo-btn
       ng-model="ctrl.drawLabel.active">Label</a>
  </li>
  <li ng-class="{active: ctrl.drawLine.active}">
    <a href translate ngeo-btn
       ng-model="ctrl.drawLine.active">Line</a>
  </li>
  <li ng-class="{active: ctrl.drawPolygon.active}">
    <a href translate ngeo-btn
       ng-model="ctrl.drawPolygon.active">Polygon</a>
  </li>
  <li ng-class="{active: ctrl.drawCircle.active}">
    <a href translate ngeo-btn
       ng-model="ctrl.drawCircle.active">Circle</a>
  </li>
</ul>
