<div ng-show="!ctrl.editingAttributes && !ctrl.editingStyle && !ctrl.deletingFeature">
  <div class="feature-popup-heading">
    <button href class="close" ng-click="ctrl.close()">&times;</button>
    {{ ctrl.feature.get('name') }}
  </div>
  <div class="feature-popup-body description" ng-bind-html="ctrl.trustAsHtml(ctrl.feature.get('description'))">
  </div>
  <div ng-show="ctrl.feature.get('thumbnail')" class="feature-popup-body">
    <a ng-href="{{ctrl.feature.get('image')}}" target="_blank"><img ng-src="{{ctrl.feature.get('thumbnail')}}"/></a>
  </div>
  <div ng-show="ctrl.isEditable()" class="feature-popup-footer">
    <ul class="nav navbar-nav pull-right">
      <li ng-show="ctrl.feature.get('__editable__')">
        <a href ng-click="ctrl.editingAttributes = true">
          <span class="fa fa-pencil"></span>
        </a>
      </li>
      <li ng-show="ctrl.feature.get('__editable__')">
        <a href ng-click="ctrl.editingStyle = true">
          <span class="fa fa-paint-brush"></span>
        </a>
      </li>
      <li ng-show="ctrl.feature.get('__editable__')">
        <a href href ng-click="ctrl.deletingFeature = true">
          <span class="fa fa-trash"></span></a>
      </li>
      <li>
        <a href><span class="fa fa-caret-square-o-down"></span></a>
      </li>
    </ul>
  </div>
</div>
<div ng-show="ctrl.editingAttributes">
  <div class="feature-popup-body">
    <a href class="close" ng-click="ctrl.close()">&times;</a>
    <div class="row">
      <div class="col-xs-8 form-group">
        <input type="text" class="form-control" ng-model="ctrl.tempName">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 form-group">
        <textarea class="form-control" rows="3" ng-model="ctrl.tempDesc"></textarea>
      </div>
    </div>
  </div>
  <div class="feature-popup-footer pull-right">
    <button href class="btn btn-default" ng-click="ctrl.editingAttributes = false" translate>
      Cancel
    </button>
    <button href class="btn btn-primary" ng-click="ctrl.validateModifications()" translate>
      Validate
    </button>
  </div>
</div>
<div ng-show="ctrl.editingStyle">
  <div class="feature-popup-body">
    <app-styleediting app-style-editing-feature="ctrl.feature"
                       app-style-editing-style="ctrl.editingStyle">
    </app-styleediting>
  </div>
</div>
<div ng-show="ctrl.deletingFeature">
  <div class="feature-popup-body">
    <span translate>Êtes-vous certain de vouloir effacer cet élément de la carte ?</span>
  </div>
  <div class="feature-popup-footer pull-right">
    <button href class="btn btn-primary" ng-click="ctrl.deletingFeature = false" translate>
      Annuler
    </button>
    <button href class="btn btn-primary" ng-click="ctrl.deleteFeature()" translate>
      OK
    </button>
  </div>
</div>
