sentry-sdk==0.10.2
urllib3[secure]==1.23
httplib2shim==0.0.3
c2cgeoportal_commons==2.3.6.28
c2cgeoportal_geoportal==2.3.6.28
c2cgeoportal_admin==2.3.6.28
pyocclient==0.4
suds-jurko==0.6
ipaddr==2.2.0
elasticsearch
ldap3==2.5.1
pyramid_ldap3==0.3.2
qrcode==5.1
bleach==2.1.4
html5lib==1.0.1
CairoSVG==1.0.22
weasyprint==v0.42.3
PyPDF2==1.26
marrow.mailer
webtest
beautifulsoup4==4.5.1
HTMLParser==0.0.2
gevent==1.4.0
Chameleon>=3.7,<3.8
