httplib2shim
# c2cgeoportal_commons==2.3.6.28
# c2cgeoportal_geoportal==2.3.6.28
# c2cgeoportal_admin==2.3.6.28
pyocclient
suds-jurko
ipaddr
elasticsearch
ldap3
pyramid_ldap3
qrcode
bleach
html5lib
CairoSVG
weasyprint
PyPDF2
marrow.mailer
webtest
beautifulsoup4
HTMLParser
gevent
gpxpy==1.4.2
pyramid_assetviews==1.0a3
