<h4 class="popover-title ngeo-popup-title">
  <span ng-bind="title | translate"></span>
  <button type="button" class="close" ng-click="open = false"> &times;</button>
</h4>
<div class="popover-content">

  <dl>
  <dt ng-if="content.name.length>0">Nom</dt><dd ng-bind="content.name"></dd>
  <dt ng-if="content.description.length>0">Description</dt><dd ng-bind="content.description"></dd>
  <dt ng-if="content.revisionDate.length>0">Date de révision</dt><dd ng-bind="content.revisionDate"></dd>
  <dt ng-if="content.keywords.length>0">Mots clé</dt><dd ng-bind="content.keywords"></dd>
  <dt ng-if="content.pocs.length>0">Contact</dt>
  <dd ng-repeat="poc in content.pocs">
    <p ng-if="poc.organisation.length>0" ng-bind="poc.organisation"></p>
    <p ng-if="poc.name.length>0" ng-bind="poc.name"></p>
    <p ng-if="poc.deliverypoint.length>0" ng-bind="poc.deliverypoint"></p>
    <p><span ng-if="poc.postalcode.length>0" ng-bind="poc.postalcode"></span> <span ng-if="poc.city.length>0" ng-bind="poc.city"></span></p>
    <p ng-if="poc.phone.length>0" ng-bind="poc.phone"></p>
    <a ng-if="poc.email.length>0" ng-href="mailto:{{poc.email}}">{{poc.email}}</a>
  </dd>
  <dt ng-if="content.uid.length>0">Métadonnée complète</dt>
  <dd ng-if="content.uid.length>0"><a target ="_blank" 
         href="https://www.geoportail.lu/Portail/menuAction.do?lang=fr&dispatch=load&menuToLoad=inspireViewMetadataExt&uid={{content.uid}}">
      link
      </a>
  </dd>
</dl>
<iframe ng-if="content.has_legend" width="100%" height="300" frameborder="0" ng-src="{{content.legend_url}}">
</iframe>
<p ng-if="!content.has_legend">Il n'y a pas de légende pour cette couche</p>
</div>
