<div class="toolbox-panel">
  <form>
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" class="form-control" name="title"
               placeholder="{{'Title'|translate}}"
               ng-model="ctrl.title">
      </div>
    </div>
    <div class="col-md-12">
      <div class="checkbox">
        <label>
          <input type="checkbox"> <span translate>With legend</span>
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <select name="layout" class="form-control"
                ng-model="ctrl.layout"
                ng-options="layout | translate for layout in ::ctrl.layouts"
                ng-change="ctrl.changeLayout()">
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <select name="scale" class="form-control"
                ng-model="ctrl.scale"
                ng-options="scale | translate for scale in ::ctrl.scales"
                ng-change="ctrl.changeScale()">
        </select>
      </div>
    </div>
    <div class="col-md-12 text-right">
      <span ng-if="ctrl.printing">
      <i class="fa fa-refresh fa-spin"></i> {{'generating'|translate}}
      &nbsp;
      </span>
      <button type="submit" class="btn btn-default"
              ng-disabled="ctrl.printing"
              ng-click="ctrl.print()">PDF</button>
    </div>
  </form>
</div>
