<div class="print-panel toolbox-panel">
  <form>
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" class="form-control" name="title"
               placeholder="{{'Title'|translate}}"
               ng-model="ctrl.title">
      </div>
    </div>
    <div class="col-md-12">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ctrl.legend"> <span translate>With legend</span>
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group dropup">
        <button type="button" class="btn btn-default form-control" data-toggle="dropdown">
          {{ctrl.layout|translate}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="layout in ::ctrl.layouts">
            <a href ng-click="ctrl.changeLayout(layout)">{{layout|translate}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group dropup">
        <button type="button" class="btn btn-default form-control" data-toggle="dropdown">
         1&nbsp;:&nbsp;{{ctrl.scale | number : fractionSize}}&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="scale in ctrl.scales">
            <a href ng-click="ctrl.changeScale(scale)">1&nbsp;:&nbsp;{{scale | number : fractionSize}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 text-right">
      <span ng-if="ctrl.printing">
        <i class="fa fa-refresh fa-spin"></i>
        &nbsp;
        <a class="btn btn-link" ng-click="ctrl.cancel()" translate>Abort</a>
        &nbsp;
      </span>
      <button type="submit" class="btn btn-default"
              ng-disabled="ctrl.printing || ctrl.legend"
              ng-click="ctrl.print('png')">PNG</button>
      <button type="submit" class="btn btn-default"
              ng-disabled="ctrl.printing"
              ng-click="ctrl.print('pdf')">PDF</button>
    </div>
  </form>
</div>
