<label translate>Ici vous pouvez commander le rapport relatif aux règles urbanistiques applicables au terrain séctionné</label>

<label translate>Adresse Email</label> <input type='type' ng-model="ctrl.getSetMail" ng-model-options="{getterSetter: true}"><br>
<input type="checkbox" ng-model="ctrl.getSetTAC" ng-model-options="{getterSetter: true}"><label translate>En cochant cette case, l'utilisateur déclare avoir lu, compris et accepté les <a href='pagfiles/Disclaimer.pdf'>conditions générales d'utilisation </a>de ce site web.</label><br>
<button ng-click="ctrl.generateRepport()" translate>Commander rapport</button>
