<%
    settings = request.registry.settings
    node_modules_path = settings.get('node_modules_path')
    closure_library_path = settings.get('closure_library_path')
%>\
<!DOCTYPE html>
<html lang={{mainCtrl.lang}} ng-app="app" ng-controller="MainController as mainCtrl">
  <head>
    <title>map.geoportail.lu</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
% if debug:
    <link rel="stylesheet" href="${request.static_url('geoportailv3:static/build/build.css')}" type="text/css">
% else:
    <link rel="stylesheet" href="${request.static_url('geoportailv3:static/build/build.min.css')}" type="text/css">
% endif
  </head>
  <body data-theme="environnement">
    <!-- Begin fixed top bar -->
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="">
          <a href class="navbar-brand">Logo</a>
        </div>

        <ul class="nav navbar-nav pull-right">
          <li class="visible-xs-inline-block search icon"><a href>Search</a></li>
          <li class="user icon"><a href>User</a></li>
          <li class="lang icon"><a href>Lang</a></li>
        </ul>
        <form class="navbar-form pull-right hidden-xs" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Mot-clés" />
          </div>
          <button type="submit" class="icon search">
            Search
          </button>
        </form>
      </div>
    </header>

    <!-- Begin page content (ie. map + left sidebar) -->
    <div id="main-container">
      <div id="sidebar" ng-class="mainCtrl.sidebarOpen ? 'open' : ''"
           ngeo-resizemap="mainCtrl.map">
        <div id="layers" ng-class="mainCtrl.layersOpen ? 'show' : 'hide'">
          <h2 translate>Layers</h2>
          <button class="close-panel" ng-click="mainCtrl.sidebarOpen = false;">
            ✕
          </button>
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active">
              <a href="#mylayers" data-toggle="tab">My Layers
                <span ng-if="mainCtrl.selectedLayers.length > 0">({{ mainCtrl.selectedLayers.length }})</span>
              </a>
            </li>
            <li role="presentation">
              <a href="#catalog" data-toggle="tab">Catalog</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="mylayers" class="tab-pane active">
              <app-layermanager app-layermanager-map="::mainCtrl.map"
                app-layermanager-layers="mainCtrl.selectedLayers">
              </app-layermanager>
              <div class="text-center">
                <button ng-click="mainCtrl.showTab('a[href=#catalog]');">+ Add layers</button>
              </div>
            </div>
            <div id="catalog" class="tab-pane">
              <app-catalog app-catalog-map="::mainCtrl.map"></app-catalog>
            </div>
          </div>
        </div>
        <div id="mymaps" ng-class="mainCtrl.mymapsOpen ? 'show' : 'hide'">
          <h2 translate>My Maps</h2>
          <button class="close-panel" ng-click="mainCtrl.sidebarOpen = false;">
            ✕
          </button>
        </div>
        <div id="infos" ng-class="mainCtrl.infosOpen ? 'show' : 'hide'">
          <h2 translate>Infos</h2>
          <button class="close-panel" ng-click="mainCtrl.sidebarOpen = false;">
            ✕
          </button>
        </div>
      </div>
      <div id="map" ngeo-map="mainCtrl.map">
        <app-scaleline app-scaleline-map="::mainCtrl.map"></app-scaleline>
      </div>
    </div>

    <!-- Begin bottom bar -->
    <footer class="footer">
      <ul class="sidebar-controls nav navbar-nav pull-left"
          ng-class="mainCtrl.sidebarOpen ? 'open' : ''" ngeo-btn-group>
        <li ngeo-btn ng-model="mainCtrl.layersOpen" class="layers icon">
          <a href translate>Layers</a>
        </li>
        <li ngeo-btn ng-model="mainCtrl.mymapsOpen" class="mymaps icon">
          <a href translate>My Maps</a>
        </li>
        <li ngeo-btn ng-model="mainCtrl.infosOpen" class="infos icon">
          <a href translate>Infos</a>
        </li>
      </ul>
      <ul class="footer-navigation nav navbar-nav pull-right hidden-xs">
        <li><a href>items</a></li>
        <li><a href>menu</a></li>
        <li><a href>droite</a></li>
      </ul>
      <ul class="toolbox nav navbar-nav">
        <li class="hidden-xs draw icon">
          <a href>dessiner</a>
        </li>
        <li class="hidden-xs measure icon">
          <a href>mesurer</a>
        </li>
        <li class="hidden-xs print icon">
          <a href>print</a>
        </li>
        <li class="share icon"><a class="square" href="#">share</a></li>
      </ul>
    </footer>
% if debug:
    <script src="${request.static_url('%s/jquery/dist/jquery.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular/angular.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-animate/angular-animate.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/closure/goog/base.js' % closure_library_path)}"></script>
    <script src="${request.route_url('deps.js')}"></script>
    <script src="${request.static_url('geoportailv3:static/js/main.js')}"></script>
    <script src="${request.static_url('%s/ngeo/utils/watchwatchers.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/bootstrap/dist/js/bootstrap.js' % node_modules_path)}"></script>
% else:
    <script src="${request.static_url('%s/jquery/dist/jquery.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular/angular.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-animate/angular-animate.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/bootstrap/dist/js/bootstrap.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('geoportailv3:static/build/build.js')}"></script>
% endif
    <script>
      (function() {
         var appModule = angular.module('app');
         appModule.constant('langUrlTemplate', '${request.static_url('geoportailv3:static/build/locale/__lang__/geoportailv3.json')}');
         appModule.constant('treeUrl', "${request.route_url('themes', _query={'version': 2, 'min_levels': 1, 'catalogue': 'true', 'interface': 'desktop' })}");
         appModule.constant('internalWmsUrl', "${request.route_url('wms') })}");

         appModule.value('ngeoLayertreeTemplateUrl', '${request.static_url('geoportailv3:static/js/catalog/layertree.html')}');
         appModule.value('ngeoLayertreenodeTemplateUrl', '${request.static_url('geoportailv3:static/js/catalog/layertreenode.html')}');
         appModule.value('appLayermanagerTemplateUrl', '${request.static_url('geoportailv3:static/js/layermanager/layermanager.html')}');
       })();
    </script>
  </body>
</html>
