## -*- coding: utf-8 -*-
<%
    settings = request.registry.settings
    proxy_wms_url = settings.get('proxy_wms_url')
    node_modules_path = settings.get('node_modules_path')
    closure_library_path = settings.get('closure_library_path')
    exclude_theme_layer_search = settings.get('exclude_theme_layer_search')
    authtkt_cookie_name = settings.get('authtkt_cookie_name')
    overview_map_show = settings.get('overview_map')['show']
    overview_map_base_layer = settings.get('overview_map')['base_layer']
    lidar = settings.get('lidar')
%>\
<!DOCTYPE html>
<html lang={{mainCtrl.lang}} ng-app="app" ng-controller="MainController as mainCtrl">
  <head>
  <title ng-bind-template="{{ mainCtrl.getCurrentTheme()|translate }}{{ ' - Geoportal Luxembourg'|translate}}"></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="${request.static_url('geoportailv3:static/images/favicon.ico')}" />
% if debug:
    <link rel="stylesheet" href="${request.static_url('geoportailv3:static/build/build.css')}" type="text/css">
% else:
    <link rel="stylesheet" href="${request.static_url('geoportailv3:static/build/build.min.css')}" type="text/css">
    % endif
 </head>
  <body data-theme="{{mainCtrl.getCurrentTheme()}}" ng-class="{'search-mobile': mainCtrl.mobileSearchActive, 'enabled-3d': mainCtrl.is3dEnabled()}">
    <!-- Begin fixed top bar -->
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-inner">
          <div class="pull-left brand">
            <img src="//cdn.public.lu/skizz/govbar/logos/gov-light.png" alt="Gouvernement du Grand-Duché de Luxembourg">
          </div>
        </div>

        <ul class="nav navbar-nav pull-right">
          <li class="visible-xs-inline-block search icon" ng-click="mainCtrl.mobileSearchActive = true"><a href translate>search</a></li>
          <li ng-click="mainCtrl.toggleThemeSelector();">
            <div class="theme-header">{{mainCtrl.getCurrentTheme()|translate}}</div>
          </li>

          <li class="user icon" ng-class="mainCtrl.userOpen ? 'active': ''">
            <a href translate ngeo-btn ng-model="mainCtrl.userOpen" ng-click="mainCtrl.languageOpen = false">user</a>
            <app-authentication app-authentication-lang="mainCtrl.lang"
                app-authentication-useropen="mainCtrl.userOpen"></app-authentication>
          </li>


          <li class="lang icon" ng-class="mainCtrl.languageOpen ? 'active': ''">
            <a href translate ngeo-btn ng-model="mainCtrl.languageOpen"  ng-click="mainCtrl.userOpen = false">lang</a>
            <ul class="nav toolbox-panel toolbox-panel-top">
              <li ng-class="{active: mainCtrl.lang == 'lb'}">
                <a href ng-click="mainCtrl.switchLanguage('lb');mainCtrl.languageOpen = false">lu</a>
              </li>
              <li ng-class="{active: mainCtrl.lang == 'fr'}">
                <a href ng-click="mainCtrl.switchLanguage('fr');mainCtrl.languageOpen = false">fr</a>
              </li>
              <li ng-class="{active: mainCtrl.lang == 'de'}">
                <a href ng-click="mainCtrl.switchLanguage('de');mainCtrl.languageOpen = false">de</a>
              </li>
              <li ng-class="{active: mainCtrl.lang == 'en'}">
                <a href ng-click="mainCtrl.switchLanguage('en');mainCtrl.languageOpen = false">en</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="icon theme-icon pull-right" ng-click="mainCtrl.toggleThemeSelector();"></div>
        <app-search app-search-map="::mainCtrl.map"
                    app-search-language="mainCtrl.lang"
                    app-search-mobileactive="mainCtrl.mobileSearchActive"
                    app-search-routing-open="mainCtrl.routingOpen"></app-search>
      </div>
    </header>
    <div class="routing-goto-route" ng-if="mainCtrl.hasRoutingResult">
      <button class="routing-rounded-button" ng-click="mainCtrl.routingOpen=true;" translate>Itinéraire en détail</button>
    </div>
    <!-- Begin page content (ie. map + left sidebar) -->
    <div id="main-container">
      <div id="sidebar" ng-class="{open: mainCtrl.sidebarOpen()}"
           app-resizemap="mainCtrl.map" app-resizemap-state="mainCtrl.sidebarOpen()">

        <!-- Layers -->
        <div id="layers" ng-class="mainCtrl.layersOpen ? 'show' : 'hide'">
          <h2 translate>layers</h2>
          <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
            ✕
          </button>
          <app-backgroundlayer app-backgroundlayer-map="::mainCtrl.map"></app-backgroundlayer>
          <div class="hidden-2d text-center" ng-click="mainCtrl.toggleTiles3dVisibility()">
            <i class="fa" ng-class="mainCtrl.tiles3dVisible ? 'fa-check-square' : 'fa-square'"></i>
            <span translate>Afficher les modèles 3D</span>
          </div>
          <ul class="nav nav-tabs">
            <li role="presentation">
            <a href="#mylayers" data-toggle="tab">
              <span translate>my_layers</span>
              <span ng-if="mainCtrl.selectedLayers.length > 0">({{mainCtrl.selectedLayers.length}})</span>
              </a>
            </li>
            <li role="presentation" class="active">
              <a href="#catalog" data-toggle="tab" translate>Catalog</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="mylayers" class="tab-pane col-xs-12">
              <app-layermanager app-layermanager-map="::mainCtrl.map"
                app-layermanager-layers="::mainCtrl.selectedLayers">
              </app-layermanager>
              <div class="text-center">
                <button class="btn btn-default" ng-click="mainCtrl.showTab('a[href=\'#catalog\']');" translate>+ Add layers</button>
                <app-external-data app-external-data-map="::mainCtrl.map"></app-external-data>
              </div>
            </div>
            <div id="catalog" class="tab-pane active">
              <app-themeswitcher app-themeswitcher-useropen="mainCtrl.userOpen"
                                 app-themeswitcher-map="::mainCtrl.map"></app-themeswitcher>
              <app-catalog app-catalog-map="::mainCtrl.map"></app-catalog>
            </div>
          </div>
        </div>

        <!-- MyMaps -->
        <div id="mymaps" class="mymaps" ng-class="mainCtrl.mymapsOpen ? 'show' : 'hide'">
          <h2 translate>my_maps</h2>
          <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
            ✕
          </button>
          <app-backgroundlayer app-backgroundlayer-map="::mainCtrl.map"></app-backgroundlayer>
          <div class="tab-content">
            <app-mymaps app-mymaps-useropen="mainCtrl.userOpen"
                        app-mymaps-drawopen="mainCtrl.drawOpen"
                        app-mymaps-shareopen="mainCtrl.shareOpen"
                        app-mymaps-share-mymaps-checked="mainCtrl.shareMymapsChecked"
                        app-mymaps-share-show-long-url="mainCtrl.shareShowLongUrl"
                        app-mymaps-layers-changed="mainCtrl.layersChanged"
                        app-mymaps-selected-layers="mainCtrl.selectedLayers"
                        app-mymaps-map="::mainCtrl.map"></app-mymaps>
          </div>
        </div>

        <!-- Infos -->
        <div id="infos" ng-class="mainCtrl.infosOpen ? 'show' : 'hide'">
          <h2 translate>infos</h2>
          <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
            ✕
          </button>
          <app-backgroundlayer app-backgroundlayer-map="::mainCtrl.map"></app-backgroundlayer>
          <div class="container-fluid tab-content">
            <app-query app-query-map="::mainCtrl.map"
                       app-query-open="mainCtrl.infosOpen"
                       app-query-mymaps-open="mainCtrl.mymapsOpen"
                       app-query-layers-open="mainCtrl.layersOpen"
                       app-query-routing-open="mainCtrl.routingOpen"
                       app-query-appselector="mainCtrl.infosAppSelector"
                       app-query-language="mainCtrl.lang"
                       app-query-hidden-info="mainCtrl.infosHiddenContent"></app-query>

            <app-locationinfo app-locationinfo-map="::mainCtrl.map"
                              app-locationinfo-open="mainCtrl.infosOpen"
                              app-locationinfo-routing-open="mainCtrl.routingOpen"
                              app-locationinfo-appselector="mainCtrl.infosAppSelector"
                              app-locationinfo-hidden-content="mainCtrl.infosHiddenContent">
            </app-locationinfo>
            <div class="row" ng-show="mainCtrl.infosAppSelector === undefined">
              <div class="col-xs-12">
                <ul>
                  <li translate>
                  A <em>right click</em> (tap and hold on mobile) will display information about the current location.
                  </li>
                  <li translate>
                  A <em>short click</em> (tap on mobile) on a map feature will select the feature and show more information.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Legend -->
        <div id="legends" ng-class="mainCtrl.legendsOpen ? 'show' : 'hide'">
          <h2 translate>legends</h2>
          <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
            ✕
          </button>
          <app-backgroundlayer app-backgroundlayer-map="::mainCtrl.map"></app-backgroundlayer>
          <div class="container-fluid tab-content">
            <app-layerlegends
              app-layerlegends-layers="::mainCtrl.selectedLayers"
              app-layerlegends-map="::mainCtrl.map">
            </app-layerlegends>
          </div>
        </div>
        <!-- Routing -->
        <div id="routing" ng-class="mainCtrl.routingOpen ? 'show' : 'hide'">
          <h2 translate>Routing</h2>
          <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
            ✕
          </button>
          <app-backgroundlayer app-backgroundlayer-map="::mainCtrl.map"></app-backgroundlayer>
          <div class="tab-content">
            <app-routing app-routing-map="::mainCtrl.map"
              app-routing-has-result="mainCtrl.hasRoutingResult"
              app-routing-show-redirect="mainCtrl.showRedirect"></app-routing>
            <div class="routing-goto-plan" ng-if="mainCtrl.hasRoutingResult">
              <button class="routing-rounded-button"  ng-click="mainCtrl.closeSidebar()" translate>Voir le plan</button>
            </div>
          </div>
        </div>
        <!-- Feedback -->
        <div id="feedback" ng-class="mainCtrl.feedbackOpen ? 'show' : 'hide'">
          <h2 translate>Feedback</h2>
          <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
            ✕
          </button>
          <app-backgroundlayer app-backgroundlayer-map="::mainCtrl.map"></app-backgroundlayer>
          <div class="container-fluid tab-content">
            <app-feedback
              app-feedback-drawing-active="mainCtrl.drawOpen",
              app-feedback-sidebar-active="mainCtrl.sidebarActive",
              app-feedback-active="mainCtrl.feedbackOpen"
              app-feedback-map="::mainCtrl.map"
              app-feedback-layers="::mainCtrl.selectedLayers">
            </app-feedback>
          </div>
        </div>
      </div>
      <app-askredirect app-askredirect-show="mainCtrl.showRedirect"></app-askredirect>

      <div class="map-wrapper">
        <app-map app-map-map="::mainCtrl.map"></app-map>
        <ngeo-olcs-controls3d ng-if="mainCtrl.is3dEnabled()" ol3dm="::mainCtrl.ol3dm"></ngeo-olcs-controls3d>
      </div>
    </div>
    <!-- Begin bottom bar -->
    <footer class="footer">
      <ul class="sidebar-controls nav navbar-nav pull-left"
          ng-class="{open: mainCtrl.sidebarOpen()}"
          ngeo-btn-group-active="mainCtrl.sidebarActive"
          ngeo-btn-group>
        <li ngeo-btn ng-model="mainCtrl.layersOpen" class="layers icon">
          <a href translate>Couches</a>
        </li>
        <li ngeo-btn ng-model="mainCtrl.mymapsOpen" class="mymaps icon">
          <a href translate>My Maps<span ng-show="mainCtrl.layersChanged">(*)</span></a>
        </li>
        <li ngeo-btn ng-model="mainCtrl.infosOpen" class="infos icon">
          <a href translate>Infos<span ng-show="mainCtrl.infosHiddenContent">(*)</span></a>
        </li>
        <li ngeo-btn ng-model="mainCtrl.legendsOpen" class="legends icon">
          <a href translate>Legends</a>
        </li>
        <li ngeo-btn ng-model="mainCtrl.routingOpen" class="routing icon">
          <a href translate>Routing</a>
        </li>
      </ul>
      <ul class="footer-navigation nav navbar-nav pull-right hidden-xs">
        <li><a href ng-click="mainCtrl.openFeedback()" translate>Feedback</a></li>
        <li><a ng-href="https://www.geoportail.lu/{{mainCtrl.lang}}/propos/" translate>A Propos</a></li>
        <li><a ng-href="https://www.geoportail.lu/{{mainCtrl.lang}}/documentation/" translate>Aide</a></li>
        <li><a ng-href="https://www.geoportail.lu/{{mainCtrl.lang}}/propos/contactez-nous/" translate>Contact</a></li>
        <li><a ng-href="https://www.geoportail.lu/{{mainCtrl.lang}}/propos/mentions-legales/" translate>Legalites</a></li>
        <li><a ng-href="http://www.act.public.lu/">ACT</a></li>
      </ul>
      <ul class="toolbox nav navbar-nav" ngeo-btn-group>
        <li class="draw icon hidden-3d" ng-class="mainCtrl.drawOpen ? 'active' : ''">
        <a href translate ngeo-btn ng-model="mainCtrl.drawOpen">Dessin</a>
          <app-draw app-draw-map="::mainCtrl.map"
            app-draw-active="mainCtrl.drawOpen"
            app-draw-activate-mymaps="!mainCtrl.feedbackOpen"
            app-draw-mymaps-open="mainCtrl.mymapsOpen">
          </app-draw>
        </li>
        <li class="hidden-xs measure icon hidden-3d" ng-class="mainCtrl.measureOpen ? 'active' : ''">
        <a href translate ngeo-btn ng-model="mainCtrl.measureOpen">Mesurer</a>
          <app-measure app-measure-map="::mainCtrl.map"
            app-measure-active="mainCtrl.measureOpen" app-profile-data="mainCtrl.profileData"
            app-profile-open="mainCtrl.profileOpen">
          </app-measure>
        </li>
        <li class="hidden-xs hidden-3d print icon" ng-class="mainCtrl.printOpen ? 'active' : ''">
          <a href translate ngeo-btn ng-model="mainCtrl.printOpen">Imprimer</a>
          <app-print app-print-map="::mainCtrl.map"
            app-print-open="mainCtrl.printOpen" app-print-layers="::mainCtrl.selectedLayers" 
            app-print-info-open="mainCtrl.infosOpen"
            app-print-routing-open="mainCtrl.routingOpen"></app-print>
        </li>
        <li class="share icon" ng-class="mainCtrl.shareOpen ? 'active' : ''">
          <a href translate ngeo-btn ng-model="mainCtrl.shareOpen">Partager</a>
          <app-share app-share-active="mainCtrl.shareOpen"
            app-share-active-mymaps="mainCtrl.shareMymapsChecked"
            app-share-show-long-url="mainCtrl.shareShowLongUrl"></app-share>
        </li>
      </ul>
    </footer>
% if debug:
    <script>
      // We should really use the empty string for CLOSURE_BASE_PATH for there
      // is a bug in Closure Library preventing us from doing it. See
      // <https://github.com/google/closure-library/pull/418>.
      window.CLOSURE_BASE_PATH = ' ';
      window.CLOSURE_NO_DEPS = true;
    </script>
    <script src="${request.static_url('%s/proj4/dist/proj4-src.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/jquery/dist/jquery.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/ngeo/third-party/jquery-ui/jquery-ui.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular/angular.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-sanitize/angular-sanitize.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-ui-date/dist/date.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-float-thead/angular-floatThead.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/closure/goog/base.js' % closure_library_path)}"></script>
    <script src="${request.static_url('%s/bootstrap/dist/js/bootstrap.js' % node_modules_path)}"></script>
    <script src="${request.route_url('deps.js')}"></script>
    <script src="${request.static_url('geoportailv3:static/js/main.js')}"></script>
    <script src="${request.static_url('%s/ngeo/utils/watchwatchers.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/d3/build/d3.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/corejs-typeahead/dist/typeahead.bundle.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/fuse.js/src/fuse.js' % node_modules_path)}"></script>
    <script src="${request.static_url('geoportailv3:static/build/templatecache.js')}"></script>
    <script src="${request.static_url('%s/jszip/dist/jszip.min.js' % node_modules_path)}"></script>
% else:
    <script src="${request.static_url('geoportailv3:static/build/build.js')}"></script>
% endif
    <script>
      (function() {
         var appModule = angular.module('app');
         appModule.constant('langUrls', {
           'fr': '${request.static_url('geoportailv3:static/build/locale/fr/geoportailv3.json')}',
           'en': '${request.static_url('geoportailv3:static/build/locale/en/geoportailv3.json')}',
           'de': '${request.static_url('geoportailv3:static/build/locale/de/geoportailv3.json')}',
           'lb': '${request.static_url('geoportailv3:static/build/locale/lb/geoportailv3.json')}'
         });

% if proxy_wms_url:
         appModule.constant('proxyWmsUrl', "${proxy_wms_url}");
         appModule.constant('remoteProxyWms', true);
% else:
         appModule.constant('proxyWmsUrl', "${request.route_url('wms')}");
         appModule.constant('remoteProxyWms', false);
% endif

% if debug:
        appModule.constant('cesiumURL', "${request.static_url('%s/@camptocamp/cesium/Build/CesiumUnminified/Cesium.js' % node_modules_path)}");
% else:
        appModule.constant('cesiumURL', "${request.static_url('%s/@camptocamp/cesium/Build/Cesium/Cesium.js' % node_modules_path)}");
% endif
         appModule.constant('httpsProxyUrl', "${request.route_url('https_proxy')}");
         appModule.constant('mymapsMapsUrl', "${request.route_url('mymaps_getmaps')}");
         appModule.constant('mymapsUrl', "${request.route_url('mymaps')}");
         appModule.constant('mymapsImageUrl', "${request.route_url('mymaps_image')}");
         appModule.constant('treeUrl', "${request.route_url('themes', _query={'version': 2, 'min_levels': 1, 'catalogue': 'true', 'interface': 'desktop', 'background': 'bglayers'})}");
         appModule.constant('loginUrl', "${request.route_url('login')}");
         appModule.constant('logoutUrl', "${request.route_url('logout')}");
         appModule.constant('getuserinfoUrl', "${request.route_url('getuserinfo')}");
         appModule.constant('elevationServiceUrl', "${request.route_url('raster')}");
         appModule.constant('profileServiceUrl', "${request.route_url('profile.json')}");
         appModule.constant('poiSearchServiceUrl', "${request.route_url('fulltextsearch')}");
         appModule.constant('layerSearchServiceUrl', "${request.route_url('layersearch')}");
         appModule.constant('printServiceUrl', "${request.route_url('printproxy')}");
         appModule.constant('shorturlServiceUrl', "${request.route_url('shortener_create')}");
         appModule.constant('postFeedbackUrl', "${request.route_url('feedback')}");
         appModule.constant('getInfoServiceUrl', "${request.route_url('getfeatureinfo')}");
         appModule.constant('getRemoteTemplateServiceUrl', "${request.route_url('getremotetemplate')}");
         appModule.constant('isThemePrivateUrl', "${request.route_url('isthemeprivate')}");
         appModule.constant('qrServiceUrl', "${request.route_url('qr')}");
         appModule.constant('reverseGeocodingServiceUrl', "${request.route_url('reverse_geocode')}");
         appModule.constant('routingServiceUrl', "${request.route_url('getremoteroute')}");
         appModule.constant('geocodingServiceUrl', "${request.route_url('geocode')}");
         appModule.constant('downloadmeasurementUrl', "${request.route_url('download_measurement')}");
         appModule.constant('downloadsketchUrl', "${request.route_url('download_sketch')}");
         appModule.constant('downloadresourceUrl', "${request.route_url('download_resource')}");
         appModule.constant('exportgpxkmlUrl', "${request.route_url('exportgpxkml')}");
         appModule.constant('getPngLegendUrl', "${request.route_url('get_png')}");
         appModule.constant('getHtmlLegendUrl', "${request.route_url('get_html')}");
         appModule.constant('echocsvUrl', "${request.route_url('echocsv')}");
         appModule.constant('getRouteUrl', "${request.route_url('getroute')}");
         appModule.constant('predefinedWmsUrl', "${request.route_url('predefined_wms')}");
         appModule.constant('defaultExtent', [425152.9429259216, 6324465.99999133, 914349.9239510496, 6507914.867875754]);
         appModule.constant('maxExtent', [2.6, 47.7, 8.6, 51]);
         appModule.constant('requestScheme', "${request.scheme}");
         appModule.constant('pagUrl', "${request.route_url('pag_url')}");
         appModule.constant('casipoUrl', "${request.route_url('casipo_url')}");
         appModule.constant('appExcludeThemeLayerSearch', "${exclude_theme_layer_search}".split(','));
         appModule.constant('appAuthtktCookieName', "${authtkt_cookie_name}");
         appModule.constant('bboxLidar', [${lidar['minx']},${lidar['miny']} ,${lidar['maxx']} ,${lidar['maxy']}]);
         appModule.constant('bboxSrsLidar', "${lidar['srs']}");
         appModule.constant('lidarDemoUrl', "${lidar['demo_url']}");
         appModule.constant('tiles3dLayers', ['buildings25d', 'buildings3d', 'bridges3d','vegetation_model','vegetation_mesh']);
         appModule.constant('tiles3dUrl', 'http://3dtiles.geoportail.lu/3dtiles/');

% if overview_map_show:
         appModule.constant('appOverviewMapShow', true);
% else:
         appModule.constant('appOverviewMapShow', false);
% endif
         appModule.value('arrowUrl', '${request.route_url('get_arrow_color')}');
         appModule.constant('arrowModelUrl', '${request.static_url('geoportailv3:static/models/arrow5.glb')}');
         appModule.constant('appOverviewMapBaseLayer', "${overview_map_base_layer}");
         appModule.value('appQueryTemplatesPath', '${request.static_url('geoportailv3:static/js/query/')}');
         appModule.value('ngeoLayertreeTemplateUrl', 'catalog/layertree.html');
         appModule.value('ngeoPopupTemplateUrl', 'layerinfo/popup.html');
         appModule.value('ngeoScaleselectorTemplateUrl', 'infobar/scaleselector.html');
         appModule.value('ngeoOlcsControls3dTemplateUrl',
           '${request.static_url('%s/ngeo/src/olcs/controls3d.html' % node_modules_path)}');
         appModule.value('appBackgroundlayerTemplateUrl', 'backgroundlayer/backgroundlayer.html');
         appModule.value('appLayermanagerTemplateUrl', 'layermanager/layermanager.html');
         appModule.value('appLayerlegendsTemplateUrl', 'layerlegends/layerlegends.html');
         appModule.value('appMeasureTemplateUrl', 'measure/measure.html');
         appModule.value('appDrawTemplateUrl', 'draw/draw.html');
         appModule.value('appFeaturePopupTemplateUrl', 'draw/featurepopup.html');
         appModule.value('appStyleEditingTemplateUrl', 'draw/styleediting.html');
         appModule.value('appSymbolSelectorTemplateUrl', 'draw/symbolselector.html');
         appModule.value('appLayerinfoTemplateUrl', 'layerinfo/layerinfo.html');
         appModule.value('appAuthenticationTemplateUrl', 'authentication/authentication.html');
         appModule.value('appInfobarTemplateUrl', 'infobar/infobar.html');
         appModule.value('appProjectionselectorTemplateUrl', 'infobar/projectionselector.html');
         appModule.value('appMapTemplateUrl', 'map/map.html');
         appModule.value('appThemeswitcherTemplateUrl', 'themeswitcher/themes.html');
         appModule.value('appProfileTemplateUrl', 'profile/profile.html');
         appModule.value('appPrintTemplateUrl', 'print/print.html');
         appModule.value('appSearchTemplateUrl', 'search/search.html');
         appModule.value('appShareTemplateUrl', 'share/share.html');
         appModule.value('appShorturlTemplateUrl', 'share/shorturl.html');
         appModule.value('appQueryTemplateUrl', 'query/info.html');
         appModule.value('appLocationinfoTemplateUrl', 'locationinfo/locationinfo.html');
         appModule.value('appMymapsTemplateUrl', 'mymaps/mymaps.html');
         appModule.value('appRoutingTemplateUrl', 'routing/routing.html');
         appModule.value('appPagreportTemplateUrl', 'query/pagreport.html');
         appModule.value('appCasiporeportTemplateUrl', 'query/casiporeport.html');
         appModule.value('appExternalDataTemplateUrl', 'externaldata/externaldata.html');
         appModule.value('appWmsTreeTemplateUrl', 'externaldata/wmstree.html');
         appModule.value('appWmtsTreeTemplateUrl', 'externaldata/wmtstree.html');
         appModule.value('appFeedbackTemplateUrl', 'feedback/feedback.html');
         appModule.value('appAskredirectTemplateUrl', 'askredirect/askredirect.html');
       })();
    </script>
    <!-- Piwik -->
      <script type="text/javascript">
        var _paq = _paq || [];
        // We do the page track in themeservice to capture any theme changes
        //_paq.push(['trackPageView']); 
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//statistics.geoportail.lu/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
      <noscript><p><img src="//statistics.geoportail.lu/piwik.php?idsite=18" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

  </body>
</html>
