## -*- coding: utf-8 -*-
<%
    settings = request.registry.settings
    node_modules_path = settings.get('node_modules_path')
    closure_library_path = settings.get('closure_library_path')
%>\
<!DOCTYPE html>
<html lang={{mainCtrl.lang}} ng-app="app" ng-controller="MainController as mainCtrl">
  <head>
    <title translate>map_title</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
% if debug:
    <link rel="stylesheet" href="${request.static_url('geoportailv3:static/build/build.css')}" type="text/css">
% else:
    <link rel="stylesheet" href="${request.static_url('geoportailv3:static/build/build.min.css')}" type="text/css">
% endif
  </head>
  <body data-theme="environnement">
    <!-- Begin fixed top bar -->
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="">
          <a href class="navbar-brand" translate>logo</a>
        </div>

        <ul class="nav navbar-nav pull-right">
          <li class="visible-xs-inline-block search icon"><a href translate>search</a></li>
          <li class="user icon" ng-class="mainCtrl.userOpen ? 'active': ''">
            <a href translate ngeo-btn ng-model="mainCtrl.userOpen" ng-click="mainCtrl.languageOpen = false">user</a>
            <app-authentication></app-authentication>
          </li>


          <li class="lang icon hidden-xs" ng-class="mainCtrl.languageOpen ? 'active': ''">
            <a href translate ngeo-btn ng-model="mainCtrl.languageOpen"  ng-click="mainCtrl.userOpen = false">lang</a>
            <ul class="nav toolbox-panel toolbox-panel-top">
              <li ng-class="{active: mainCtrl.lang == 'lb'}">
                <a href ng-click="mainCtrl.switchLanguage('lb');mainCtrl.languageOpen = false">lu</a>
              </li>
              <li ng-class="{active: mainCtrl.lang == 'fr'}">
                <a href ng-click="mainCtrl.switchLanguage('fr');mainCtrl.languageOpen = false">fr</a>
              </li>
              <li ng-class="{active: mainCtrl.lang == 'de'}">
                <a href ng-click="mainCtrl.switchLanguage('de');mainCtrl.languageOpen = false">de</a>
              </li>
              <li ng-class="{active: mainCtrl.lang == 'en'}">
                <a href ng-click="mainCtrl.switchLanguage('en');mainCtrl.languageOpen = false">en</a>
              </li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form pull-right hidden-xs" role="search">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="{{'search_key_words'|translate}}" />
          </div>
          <button type="submit" class="icon search">
            Search
          </button>
        </form>
      </div>
    </header>

    <!-- Begin page content (ie. map + left sidebar) -->
    <div id="main-container">
      <div id="sidebar" ng-class="{open: mainCtrl.sidebarOpen()}"
           ngeo-resizemap="mainCtrl.map">
        <div id="layers" ng-class="mainCtrl.layersOpen ? 'show' : 'hide'">
          <h2 translate>layers</h2>
          <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
            ✕
          </button>
          <app-backgroundlayer app-backgroundlayer-map="::mainCtrl.map"></app-backgroundlayer>
          <ul class="nav nav-tabs">
            <li role="presentation" class="active">
            <a href="#mylayers" data-toggle="tab">
              <span translate>my_layers</span>
              <span ng-if="mainCtrl.selectedLayers.length > 0">({{mainCtrl.selectedLayers.length}})</span>
              </a>
            </li>
            <li role="presentation">
              <a href="#catalog" data-toggle="tab" translate>Catalog</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="mylayers" class="tab-pane active">
              <app-layermanager app-layermanager-map="::mainCtrl.map"
                app-layermanager-layers="::mainCtrl.selectedLayers">
              </app-layermanager>
              <div class="text-center">
                <button class="btn btn-default" ng-click="mainCtrl.showTab('a[href=#catalog]');" translate>+ Add layers</button>
              </div>
            </div>
            <div id="catalog" class="tab-pane">
              <app-catalog app-catalog-map="::mainCtrl.map"></app-catalog>
            </div>
          </div>
        </div>
        <div id="mymaps" ng-class="mainCtrl.mymapsOpen ? 'show' : 'hide'">
          <h2 translate>my_maps</h2>
          <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
            ✕
          </button>
        </div>
        <div id="infos" ng-class="mainCtrl.infosOpen ? 'show' : 'hide'">
          <h2 translate>infos</h2>
          <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
            ✕
          </button>
        </div>
      </div>
      <div id="map" ngeo-map="mainCtrl.map">
        <app-infobar app-infobar-map="::mainCtrl.map"></app-infobar>
      </div>
    </div>

    <!-- Begin bottom bar -->
    <footer class="footer">
      <ul class="sidebar-controls nav navbar-nav pull-left"
          ng-class="{open: mainCtrl.sidebarOpen()}" ngeo-btn-group>
        <li ngeo-btn ng-model="mainCtrl.layersOpen" class="layers icon">
          <a href translate>layers</a>
        </li>
        <li ngeo-btn ng-model="mainCtrl.mymapsOpen" class="mymaps icon">
          <a href translate>my_maps</a>
        </li>
        <li ngeo-btn ng-model="mainCtrl.infosOpen" class="infos icon">
          <a href translate>infos</a>
        </li>
      </ul>
      <ul class="footer-navigation nav navbar-nav pull-right hidden-xs">
        <li><a href translate>item1</a></li>
        <li><a href translate>item2</a></li>
        <li><a href translate>item3</a></li>
      </ul>
      <ul class="toolbox nav navbar-nav" ngeo-btn-group>
        <li class="hidden-xs draw icon" ng-class="mainCtrl.drawOpen ? 'active' : ''">
          <a href translate ngeo-btn ng-model="mainCtrl.drawOpen">draw</a>
          <div class="toolbox-panel">The panel for draw tools</div>
        </li>
        <li class="hidden-xs measure icon" ng-class="mainCtrl.measureOpen ? 'active' : ''">
          <a href translate ngeo-btn ng-model="mainCtrl.measureOpen">measure</a>
          <app-measure app-measure-map="::mainCtrl.map" app-measure-active="mainCtrl.measureOpen"></app-measure>
        </li>
        <li class="hidden-xs print icon" ng-class="mainCtrl.printOpen ? 'active' : ''">
          <a href translate ngeo-btn ng-model="mainCtrl.printOpen">print</a>
          <div class="toolbox-panel">The panel for print tools</div>
        </li>
        <li class="share icon" ng-class="mainCtrl.shareOpen ? 'active' : ''">
          <a href translate ngeo-btn ng-model="mainCtrl.shareOpen">share</a>
          <div class="toolbox-panel">The panel for share tools</div>
        </li>
      </ul>
    </footer>
% if debug:
    <script>
      // We should really use the empty string for CLOSURE_BASE_PATH for there
      // is a bug in Closure Library preventing us from doing it. See
      // <https://github.com/google/closure-library/pull/418>.
      window.CLOSURE_BASE_PATH = ' ';
      window.CLOSURE_NO_DEPS = true;
    </script>
    <script src="${request.static_url('%s/proj4/dist/proj4-src.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/jquery/dist/jquery.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular/angular.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-animate/angular-animate.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/closure/goog/base.js' % closure_library_path)}"></script>
    <script src="${request.static_url('%s/bootstrap/dist/js/bootstrap.js' % node_modules_path)}"></script>
    <script src="${request.route_url('deps.js')}"></script>
    <script src="${request.static_url('geoportailv3:static/js/main.js')}"></script>
    <script src="${request.static_url('%s/ngeo/utils/watchwatchers.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/proj4/dist/proj4-src.js' % node_modules_path)}"></script>
% else:
    <script src="${request.static_url('geoportailv3:static/build/build.js')}"></script>
% endif
    <script>
      (function() {
         var appModule = angular.module('app');
         appModule.constant('langUrls', {
           'de': '${request.static_url('geoportailv3:static/build/locale/de/geoportailv3.json')}',
           'en': '${request.static_url('geoportailv3:static/build/locale/en/geoportailv3.json')}',
           'fr': '${request.static_url('geoportailv3:static/build/locale/fr/geoportailv3.json')}',
           'lb': '${request.static_url('geoportailv3:static/build/locale/lb/geoportailv3.json')}'
         });
         appModule.constant('treeUrl', "${request.route_url('themes', _query={'version': 2, 'min_levels': 1, 'catalogue': 'true', 'interface': 'desktop', 'background': 'bglayers'})}");
         appModule.constant('loginUrl', "${request.route_url('login')}");
         appModule.constant('logoutUrl', "${request.route_url('logout')}");
         appModule.constant('getuserinfoUrl', "${request.route_url('getuserinfo')}");
         appModule.constant('internalWmsUrl', "${request.route_url('wms')}");
         appModule.constant('elevationServiceUrl', "${request.route_url('raster')}");
         appModule.constant('defaultExtent', [425152.9429259216, 6324465.99999133, 914349.9239510496, 6507914.867875754]);

% if debug:
         appModule.value('ngeoLayertreeTemplateUrl', '${request.static_url('geoportailv3:static/js/catalog/layertree.html')}');
         appModule.value('ngeoLayertreenodeTemplateUrl', '${request.static_url('geoportailv3:static/js/catalog/layertreenode.html')}');
         appModule.value('ngeoPopupTemplateUrl', '${request.static_url('geoportailv3:static/js/layerinfo/popup.html')}');
         appModule.value('ngeoScaleselectorTemplateUrl', '${request.static_url('geoportailv3:static/js/infobar/scaleselector.html')}');
         appModule.value('appBackgroundlayerTemplateUrl', '${request.static_url('geoportailv3:static/js/backgroundlayer/backgroundlayer.html')}');
         appModule.value('appLayermanagerTemplateUrl', '${request.static_url('geoportailv3:static/js/layermanager/layermanager.html')}');
         appModule.value('appMeasureTemplateUrl', '${request.static_url('geoportailv3:static/js/measure/measure.html')}');
         appModule.value('appLayerinfoTemplateUrl', '${request.static_url('geoportailv3:static/js/layerinfo/layerinfo.html')}');
         appModule.value('appAuthenticationTemplateUrl', '${request.static_url('geoportailv3:static/js/authentication/authentication.html')}');
         appModule.value('appInfobarTemplateUrl', '${request.static_url('geoportailv3:static/js/infobar/infobar.html')}');
         appModule.value('appProjectionselectorTemplateUrl', '${request.static_url('geoportailv3:static/js/infobar/projectionselector.html')}');
% else:
         appModule.value('ngeoLayertreeTemplateUrl', 'catalog/layertree.html');
         appModule.value('ngeoLayertreenodeTemplateUrl', 'catalog/layertreenode.html');
         appModule.value('ngeoPopupTemplateUrl', 'layerinfo/popup.html');
         appModule.value('ngeoScaleselectorTemplateUrl', 'infobar/scaleselector.html');
         appModule.value('appBackgroundlayerTemplateUrl', 'backgroundlayer/backgroundlayer.html');
         appModule.value('appLayermanagerTemplateUrl', 'layermanager/layermanager.html');
         appModule.value('appMeasureTemplateUrl', 'measure/measure.html');
         appModule.value('appLayerinfoTemplateUrl', 'layerinfo/layerinfo.html');
         appModule.value('appAuthenticationTemplateUrl', 'authentication/authentication.html');
         appModule.value('appInfobarTemplateUrl', 'infobar/infobar.html');
         appModule.value('appProjectionselectorTemplateUrl', 'infobar/projectionselector.html');
% endif
       })();
    </script>
  </body>
</html>
