<!DOCTYPE html>
<html lang={{lang}} ng-app="app" ng-controller="MainController">
  <head>
    <title>Simple example</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
% if debug:
    <link rel="stylesheet" href="/proj/build/build.css" type="text/css">
% else:
    <link rel="stylesheet" href="/proj/build/build.min.css" type="text/css">
% endif
  </head>
  <body>
    <h1 translate>Hello!</h1>
    <div id="map" ngeo-map></div>
% if debug:
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-gettext/dist/angular-gettext.js"></script>
    <script src="/closure/closure/goog/base.js"></script>
    <script src="${request.route_path('deps.js')}"></script>
    <script src="/proj/js/main.js"></script>
% else:
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/node_modules/angular-gettext/dist/angular-gettext.min.js"></script>
    <script src="/proj/build/build.js"></script>
% endif
    <script>
      (function() {
         var appModule = angular.module('app');
         appModule.constant('langUrlTemplate', '/proj/build/locale/__lang__/geoportailv3.json');
       })();
    </script>
  </body>
</html>
