<%
    settings = request.registry.settings
    node_modules_path = settings.get('node_modules_path')
    closure_library_path = settings.get('closure_library_path')
%>\
<!DOCTYPE html>
<html lang={{ctrl.lang}} ng-app="app" ng-controller="MainController as ctrl">
  <head>
    <title>Simple example</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
% if debug:
    <link rel="stylesheet" href="${request.static_url('geoportailv3:static/build/build.css')}" type="text/css">
% else:
    <link rel="stylesheet" href="${request.static_url('geoportailv3:static/build/build.min.css')}" type="text/css">
% endif
  </head>
  <body data-theme="environnement">
    <!-- Begin fixed top bar -->
    <header class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="">
          <a href class="navbar-brand">Logo</a>
        </div>

        <ul id="user-experience" class="nav navbar-nav pull-right">
          <li class="visible-xs-inline-block"><a href>Search</a></li>
          <li><a href>User</a></li>
          <li><a href>Lang</a></li>
        </ul>
        <form class="navbar-form pull-right hidden-xs" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Mot-clés" />
          </div>
          <button type="submit" class="btn btn-default">
            Search
          </button>
        </form>
      </div>
    </header>

    <!-- Begin page content (ie. map + left sidebar) -->
    <div id="main-container">
      <div id="sidebar" ng-class="ctrl.sidebarOpen ? 'open' : ''"
           ngeo-resizemap="ctrl.map">
        <div id="layers" ng-class="ctrl.layersOpen ? 'show' : 'hide'">
          <h2 translate>Layers</h2>
          <button class="close-panel" ng-click="ctrl.sidebarOpen = false;">
            ✕
          </button>
        </div>
        <div id="mymaps" ng-class="ctrl.mymapsOpen ? 'show' : 'hide'">
          <h2 translate>My Maps</h2>
          <button class="close-panel" ng-click="ctrl.sidebarOpen = false;">
            ✕
          </button>
        </div>
        <div id="info" ng-class="ctrl.infoOpen ? 'show' : 'hide'">
          <h2 translate>Info</h2>
          <button class="close-panel" ng-click="ctrl.sidebarOpen = false;">
            ✕
          </button>
        </div>
      </div>
      <div id="map" ngeo-map="ctrl.map">
        <app-scaleline app-scaleline-map="ctrl.map"></app-scaleline>
      </div>
    </div>

    <!-- Begin bottom bar -->
    <footer class="footer">
      <ul class="sidebar-controls nav navbar-nav pull-left"
          ng-class="ctrl.sidebarOpen ? 'open' : ''" ngeo-btn-group>
        <li ngeo-btn ng-model="ctrl.layersOpen" class="layers icon">
          <a href translate>Layers</a>
        </li>
        <li ngeo-btn ng-model="ctrl.mymapsOpen" class="mymaps icon">
          <a href translate>My Maps</a>
        </li>
        <li ngeo-btn ng-model="ctrl.infoOpen" class="info icon">
          <a href translate>Info</a>
        </li>
      </ul>
      <ul class="footer-navigation nav navbar-nav pull-right hidden-xs">
        <li><a href>items</a></li>
        <li><a href>menu</a></li>
        <li><a href>droite</a></li>
      </ul>
      <ul class="toolbox nav navbar-nav">
        <li class="hidden-xs draw icon">
          <a href>dessiner</a>
        </li>
        <li class="hidden-xs measure icon">
          <a href>mesurer</a>
        </li>
        <li class="hidden-xs print icon">
          <a href>print</a>
        </li>
        <li class="share icon"><a class="square" href="#">share</a></li>
      </ul>
    </footer>
% if debug:
    <script src="${request.static_url('%s/angular/angular.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-animate/angular-animate.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/closure/goog/base.js' % closure_library_path)}"></script>
    <script src="${request.route_url('deps.js')}"></script>
    <script src="${request.static_url('geoportailv3:static/js/main.js')}"></script>
    <script src="${request.static_url('%s/ngeo/utils/watchwatchers.js' % node_modules_path)}"></script>
% else:
    <script src="${request.static_url('%s/angular/angular.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-animate/angular-animate.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('geoportailv3:static/build/build.js')}"></script>
% endif
    <script>
      (function() {
         var appModule = angular.module('app');
         appModule.constant('langUrlTemplate', '${request.static_url('geoportailv3:static/build/locale/__lang__/geoportailv3.json')}');
       })();
    </script>
  </body>
</html>
