<%
    settings = request.registry.settings
    node_modules_path = settings.get('node_modules_path')
    closure_library_path = settings.get('closure_library_path')
%>\
<!DOCTYPE html>
<html lang={{ctrl.lang}} ng-app="app" ng-controller="MainController as ctrl">
  <head>
    <title>Simple example</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
% if debug:
    <link rel="stylesheet" href="${request.static_url('geoportailv3:static/build/build.css')}" type="text/css">
% else:
    <link rel="stylesheet" href="${request.static_url('geoportailv3:static/build/build.min.css')}" type="text/css">
% endif
  </head>
  <body>
    <h1 translate>Hello!</h1>
    <div id="map" ngeo-map="ctrl.map"></div>
    <app-scaleline app-scaleline-map="ctrl.map"></app-scaleline>
% if debug:
    <script src="${request.static_url('%s/angular/angular.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/closure/goog/base.js' % closure_library_path)}"></script>
    <script src="${request.route_url('deps.js')}"></script>
    <script src="${request.static_url('geoportailv3:static/js/main.js')}"></script>
% else:
    <script src="${request.static_url('%s/angular/angular.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('geoportailv3:static/build/build.js')}"></script>
% endif
    <script>
      (function() {
         var appModule = angular.module('app');
         appModule.constant('langUrlTemplate', '${request.static_url('geoportailv3:static/build/locale/__lang__/geoportailv3.json')}');
       })();
    </script>
  </body>
</html>
