.background-layer {
    width: auto;
    height: auto;

    position: absolute;
    top: 4em;
    right: 0.5em;

    .lux-bg-layer {
        float: left;
        width: 100px;
        height: 75px;
        border: 1px solid black;
        margin: 0 3px;
    }
}  