## -*- coding: utf-8 -*-
<h1>${_c("parcels")}</h1>
<h2>${feature['attributes']['PF']['mainNumber']}/${feature['attributes']['PF']['additionalNumber']}</h2>
<span>${_c("Commune")}</span> : ${feature['attributes']['PF']['townName']}<br>
<span>${_c("Section")}</span> : ${feature['attributes']['PF']['sectionDesignation']}<br>
<span>${_c("Numero cadastral")}</span> : ${feature['attributes']['PF']['mainNumber']}/${feature['attributes']['PF']['additionalNumber']}<br>
<span>${_c("Contenance")}</span> : ${feature['attributes']['PF']['capacity']}<br>
<span>${_c("Lieudit")}</span> : ${feature['attributes']['PF']['locality']}<br>
% if 'farmingTypes' in feature['attributes']['PF']:
  <span>${_c("Nature")}</span> : ${','.join(feature['attributes']['PF']['farmingTypes'])}<br>
% endif
% if 'occupations' in feature['attributes']['PF']:
  <span>${_c("Occupation")}</span> : ${','.join(feature['attributes']['PF']['occupations'])}<br>
% endif
% if 'measurementNumber' in feature['attributes']['PF']:
  <span>${_c("Dernier mesurage")}</span> : ${feature['attributes']['PF']['measurementNumber']}
% endif
