<div class="feedbackanf-content">
  <h3 translate>Proposition de modification de limite ou signalisation d'un problème à l'AGE:</h3>
  <form ng-submit="ctrl.sendReport()">
    <div class="form-group">
      <label for="inputAgeEmail" translate>Your email</label>
      <input type="email" required ng-model="ctrl.email" class="form-control" id="inputAgeEmail">
    </div>
    <div class="form-group">
      <label for="inputName" translate>Votre nom et prénom</label>
      <input type="text" required ng-model="ctrl.name" class="form-control" id="inputAgeName">
    </div>
    <div class="form-group">
      <div class="dropdown" id="dropdownLayerPicker">
        <button type="button" class="btn btn-default" data-toggle="dropdown">
          {{ctrl.concernedLayer | translate}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="layer in ctrl.layers">
            <a href ng-click="ctrl.setConcernedLayer(layer)">{{layer.get('label')|translate}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAgeDescription" translate>Veuillez motiver votre proposition:</label>
      <textarea rows="5" required  maxlength="500" ng-model="ctrl.description" class="form-control" id="inputAgeDescription"></textarea>
    </div>
    <div class="form-group">
      <p translate>Ce <a ng-href="{{ctrl.url}}" target="_blank">lien</a> sera envoyé à l'équipe de l'AGE.</p>
      <p translate>Vous pouvez aussi activer les <a href="#" ng-click="ctrl.activateDrawingTools()">outils de dessin</a> pour annoter la carte.</p>
      <p translate><a href="https://youtu.be/kK8qoE6Y1dY" target="_blank">Cliquez ici pour voir une vidéo expliquant comment donner votre feedback</a></p>
    </div>
    <button type="submit" class="pull-right btn btn-default" translate id="submitagefeedback">Envoyer un feedback à l'AGE</button>
  </form>
</div>
